@use '../abstracts';

.c-section-wrapper {
  background-color: #F3F8F9;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("~assets/img/login-bg.png");
  min-height: 100vh;
}

.c-content {
  @include abstracts.dft-flex-center;

  padding-top: 4em;
  padding-bottom: 4em;
}

.c-auth-wrapper {
  padding-top: 7em;
  padding-bottom: 8em;

  @media screen and (min-width: 480px) {
    background-repeat: no-repeat;
    background-image: url("~assets/img/about-teams-bg.svg");
  }
}

.c-auth-form-container {
  max-width: abstracts.$form-width;
  margin: 0 auto;
}