<template>
  <section>
    <template v-if="data">
      <artisans-inner-hero />
      <artisans-inner-profile :artisan="data" />
    </template>
  </section>
</template>
<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"

export default defineComponent({
  name: "Artisan",
  serverPrefetch() {
    // @ts-ignore
    return this.$store.dispatch("artisan/getData", {
      id: this.$route.params.id,
    })
  },
  data() {
    return {
      artisan: null,
    }
  },
  computed: {
    ...mapGetters("artisan", ["data"]),
  },
})
</script>
