<template>
  <section>
    <div v-if="serviceContent && serviceArtisans">
      <services-inner-hero
        :service-image="serviceContent.servicesAroundImage"
      />
      <services-inner-main
        :intro-title="currentState.name"
        :service-artisans="serviceArtisans"
      />
    </div>
    <transition
      enter-active-class="transition ease-out duration-100"
      enter-from-class="transform opacity-0 scale-95"
      enter-to-class="transform opacity-100 scale-100"
      leave-active-class="transition ease-in duration-100"
      leave-from-class="transform opacity-100 scale-100"
      leave-to-class="transform opacity-0 scale-95"
    >
      <div v-if="loading" class="page-loader">
        <div class="w-20 h-20">
          <page-loader />
        </div>
      </div>
    </transition>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"
import { IServicesContent } from "~/types/content"
import PageLoader from "~/components/PageLoader.vue"

export default defineComponent({
  name: "Services",
  components: { PageLoader },
  serverPrefetch() {
    const {
      $i18n: { locale },
    } = this

    // @ts-ignore
    const $apollo = this.$root.$options.apolloProvider.defaultClient

    return (
      this.$store.dispatch("services/getService", {
        locale,
        apolloQuery: $apollo.query,
      }) && this.$store.dispatch("services/getData")
    )
  },
  data() {
    return {
      currentState: "",
      loading: true,
    }
  },
  head() {
    return {
      title: `${this.seoTitle}`,
      description: `${this.seoPageDescription}`,
      meta: [
        {
          property: "og:title",
          content: `${this.seoTitle}`,
          template: (chunk) => `${chunk} - Wrkman Solutions Limited`,
          vmid: "og:title",
        },
      ],
    }
  },
  computed: {
    ...mapGetters("services", [
      "serviceContent",
      "seoTitle",
      "seoPageDescription",
      "serviceArtisans",
    ]),
  },
  async mounted() {
    this.setLoading()

    this.currentState = this.$store.state.services.data.find(
      (item: IServicesContent) => {
        return item.slug === this.$route.params.id
      }
    )
    const formData = {
      location: this.$store.state.auth.user.location,
      // @ts-ignore
      service: this.currentState._id,
    }
    await this.$store.dispatch("services/getArtisans", formData)
  },
  methods: {
    setLoading() {
      this.$root.$nextTick(() => {
        // reset loading state
        setTimeout(() => {
          this.loading = false
        }, 1000)
      })
    },
  },
})
</script>

<style scoped>
.page-loader {
  @apply w-full min-h-screen fixed top-0 left-0 right-0 bottom-0;
  @apply bg-white items-center justify-center flex z-50;
}
</style>
