<template>
  <section>
    <div v-if="data && serviceContent">
      <services-hero :service-image="serviceContent.serviceImage" />
      <services-main
        :intro-title="serviceContent.introTitle"
        :services="data"
      />
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"

export default defineComponent({
  name: "Services",
  serverPrefetch() {
    const {
      $i18n: { locale },
    } = this

    // @ts-ignore
    const $apollo = this.$root.$options.apolloProvider.defaultClient

    return (
      this.$store.dispatch("services/getService", {
        locale,
        apolloQuery: $apollo.query,
      }) && this.$store.dispatch("services/getData")
    )
  },
  head() {
    return {
      title: `${this.seoTitle}`,
      description: `${this.seoPageDescription}`,
      meta: [
        {
          property: "og:title",
          content: `${this.seoTitle}`,
          template: (chunk) => `${chunk} - Wrkman Solutions Limited`,
          vmid: "og:title",
        },
      ],
    }
  },
  computed: {
    ...mapGetters("services", [
      "data",
      "seoTitle",
      "seoPageDescription",
      "serviceContent",
    ]),
  },
})
</script>
