<template>
  <section class="section-wrapper">
    <div class="profile-card"></div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Card",
})
</script>

<style scoped>
@screen sm {
  .profile-card {
    @apply bg-white;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
.profile-card {
  @apply rounded-xl bg-none;
  @apply flex flex-col items-center justify-center space-y-5;
  @apply max-w-[69rem] w-screen mx-auto -top-20 relative z-10 pb-20 px-10;
}
</style>
