<template>
  <section class="c-section-wrapper">
    <div class="content c-content">
      <div class="card w-full sm:px-0 px-10 max-w-6xl my-20">
        <auth-reset />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "PasswordReset",
  head: {
    title: "Password Reset",
  },
})
</script>
