<template>
  <div class="w-full">
    <div class="floating-input relative">
      <textarea
        :id="inputId"
        :aria-label="ariaLabel"
        :disabled="disabled"
        :name="name"
        :placeholder="placeholder"
        :required="required"
        :rows="rows"
        :value="value"
        :readonly="readonly"
        class="text-input"
        :class="{ 'has-error': hasError }"
        @input="$emit('input', $event.target.value)"
        @keyup="$emit('keyup', $event.target.value)"
        @blur="$emit('blur', $event.target.value)"
      >
      </textarea>
      <label :for="inputId" class="label">{{ label }}</label>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "TextBlock",
  props: {
    value: {
      type: String,
      default: "",
    },

    inputId: {
      type: String,
      default: "",
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    placeholder: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    required: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: "",
    },
    rows: {
      type: Number,
      default: 3,
    },
    ariaLabel: {
      type: String,
      default: "",
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    errorMessage: {
      type: String,
      default: "",
    },
  },
})
</script>

<style scoped>
.text-input {
  @apply border border-transparent focus:outline-none rounded-lg;
  @apply focus:shadow-sm w-full p-3;
  @apply border border-gray3 focus:ring-1 focus:ring-offset-1 focus:ring-primary-300;
  @apply relative focus-within:border-primary-400 focus:border-primary-300;
  @apply focus-within:outline-none focus:outline-none bg-white transition;
}
.label {
  @apply absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform;
  @apply origin-left transition-all duration-100 ease-in-out;
  @apply text-primary-200 text-base;
}
.floating-input > textarea::placeholder {
  color: transparent;
}
.floating-input > textarea:focus,
.floating-input > textarea:not(:placeholder-shown) {
  @apply pt-10;
}
.floating-input > textarea:focus ~ label,
.floating-input > textarea:not(:placeholder-shown) ~ label {
  @apply opacity-75 scale-75 -translate-y-4 translate-x-1;
}
</style>
