<!-- eslint-disable vue/no-v-html-->
<template>
  <section>
    <div class="content">
      <div class="card service-wrapper">
        <div class="w-full">
          <div class="flex justify-between">
            <h2
              class="text-primary-300 font-bold leading-[3.8125rem] text-[3.125rem] text-left font-serif"
            >
              <span class="capitalize">{{ introTitle + "s" }}</span> in your
              area
            </h2>
            <button
              class="btn outline py-[0.2rem] sm:block hidden"
              @click.stop="showFilter = !showFilter"
            >
              <span class="flex items-center space-x-6 justify-between">
                <span class="text-primary-200 text-base font-semibold leading-8"
                  >Filter</span
                >
                <span><filter-menu /></span>
              </span>
            </button>
          </div>
          <transition
            enter-active-class="transition ease-in duration-100"
            enter-from-class="transform opacity-0 scale-95"
            enter-to-class="transform opacity-100 scale-100"
            leave-active-class="transition ease-in duration-100"
            leave-from-class="transform opacity-100 scale-100"
            leave-to-class="transform opacity-0 scale-95"
          >
            <form
              v-if="showFilter"
              class="sm:block hidden"
              @submit.stop.prevent="onSearch"
            >
              <div class="mt-8 flex w-full justify-center relative">
                <span class="icon-class">
                  <lens class="w-7" />
                </span>
                <input
                  id="search-mobile"
                  v-model.trim="query"
                  class="text-input"
                  placeholder="Search artisans under this service"
                  name="search"
                  :class="{ loading }"
                  :disabled="loading"
                  aria-label="search"
                />
                <button
                  type="submit"
                  :disabled="loading"
                  class="btn btn-search z-10 -left-10"
                >
                  Search
                </button>
              </div>
            </form>
          </transition>
          <p class="mt-10 text-primary-200 font-semibold text-xl leading-6">
            Featured {{ introTitle + "s" }}
          </p>
        </div>
        <div id="services" class="service-container">
          <service-artisan-card
            v-for="artisan in searchList"
            :key="artisan._id"
            :service-artisan="artisan"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  PropType,
  ref,
} from "@nuxtjs/composition-api"
import Lens from "~/assets/icons/lens.svg?inline"
import FilterMenu from "~/assets/icons/filter-menu.svg?inline"
import { IQuery } from "~/types/page"
import { IServiceArtisans } from "~/types/content"
import ServiceArtisanCard from "~/components/services/inner/ServiceArtisanCard.vue"

export default defineComponent({
  name: "Main",
  components: { ServiceArtisanCard, Lens, FilterMenu },
  props: {
    introTitle: {
      type: String,
      default: "",
    },
    serviceArtisans: {
      type: Array as PropType<IServiceArtisans[]>,
      default: () => [],
    },
  },
  setup({ serviceArtisans }, { root }) {
    const query = ref("")
    const loading = ref(false)
    const showFilter = ref(false)

    const onSearch = async () => {
      loading.value = true

      await new Promise((resolve) => {
        setTimeout(resolve, 1000)
      })
      const searchQuery: IQuery = {
        q: "",
      }
      if (query.value) {
        searchQuery.q = query.value
      }
      root.$router.push(
        {
          name: `${root.$route.name}`,
          query: searchQuery,
        },
        () => {
          loading.value = false
        },
        () => {
          loading.value = false
        }
      )
    }

    const searchList = computed((): IServiceArtisans[] => {
      const searchableList = serviceArtisans
      const search = query.value.toLowerCase()
      return searchableList.filter((item) => {
        return (
          item.firstName.toLowerCase().includes(search) ||
          item.lastName.toLowerCase().includes(search)
        )
      })
    })

    onMounted(() => {
      if (root.$route.query.q && typeof root.$route.query.q === "string") {
        query.value = root.$route.query.q
      }
    })

    return {
      loading,
      showFilter,
      query,
      searchList,
      onSearch,
    }
  },
})
</script>

<style scoped>
section {
  @apply pt-10 pb-40 relative bg-[#F3F8F9];
}

section::before {
  @apply bg-no-repeat;

  content: "";
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-image: url("~assets/img/service-right-bg.svg"),
    url("~assets/img/service-bottom-bg.svg");
  background-position: top 0 right -15%, bottom -40% right -30%;
  background-size: 35%, 50%;
}

.service-wrapper {
  @apply relative mx-auto;
  @apply pt-10 pb-10 sm:px-10 px-5 xl:max-w-7xl w-full;
  @apply xl:mt-[-24rem] mt-[-16.5rem];
}

.service-container {
  @apply grid  sm:grid-cols-2 grid-cols-1 gap-4 pt-14;
}
.text-input {
  @apply border border-primary-300 focus:outline-none rounded-2xl sm:rounded-lg;
  @apply focus:shadow-sm w-full sm:py-2 py-1 pl-16 h-14 text-black;
  @apply relative;
  @apply focus-within:outline-none focus:outline-none bg-white transition;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  @apply absolute top-0 left-0 pl-20 px-6 py-4 h-full pointer-events-none transform;
  @apply origin-left transition-all duration-100 ease-in-out;
  @apply text-[#9C9C9C] text-base;
}

.icon-class {
  @apply pointer-events-none absolute self-center z-10 top-1/2 transform -translate-y-1/2 left-3 rounded-lg px-1 py-1;
}
</style>
