<template>
  <div class="card">
    <div class="card-container">
      <div class="mb-3 flex justify-between">
        <div class="artisan-block">
          <div class="flex space-x-4">
            <span v-if="serviceArtisan.picture" class="w-[3.89rem] h-[4.12rem]">
              <img
                class="object-contain w-full h-full"
                :src="`https://res.cloudinary.com/dpfwt77wg/image/upload/${serviceArtisan.picture}`"
                :alt="serviceArtisan.firstName"
              />
            </span>
            <span v-else class="w-[3.89rem] h-[4.12rem]">
              <img
                class="object-contain w-full h-full"
                src="~/assets/img/user-default.png"
                :alt="serviceArtisan.firstName"
            /></span>
            <div class="flex flex-col items-start justify-start space-y-2">
              <div class="flex space-x-4">
                <span
                  class="text-base leading-[1.125rem] font-medium pr-3 border-r border-black border-solid"
                >
                  {{ serviceArtisan.firstName + " " + serviceArtisan.lastName }}
                </span>
                <ratings :rating="serviceArtisan.ratings" />
              </div>
              <ul
                class="text-primary-200 text-xs leading-[0.875rem] list-disc ml-4"
              >
                <li
                  v-for="(skill, index) in serviceArtisan.skills.slice(0, 2)"
                  :key="index"
                >
                  <span> {{ skill }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <span class="horizontal-line">
        <hr />
      </span>
      <div
        class="grid grid-cols-3 sm:gap-x-20 gap-x-5 p-5 justify-items-center items-center"
      >
        <app-link
          :to="
            localePath({
              name: 'artisans-id',
              params: { id: serviceArtisan._id },
            })
          "
          class="btn sm bg-primary-400 text-white"
        >
          View Profile
        </app-link>
        <app-link to="" class="btn sm bg-[#4477C3] text-white">
          Send Message
        </app-link>
        <a :href="`tel: ${serviceArtisan.phone}`"> <phone /> </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IServiceArtisans } from "~/types/content"
import Phone from "~/assets/icons/circle-phone.svg?inline"
import Ratings from "~/components/services/Ratings.vue"
export default defineComponent({
  name: "ServiceArtisanCard",
  components: {
    Ratings,
    Phone,
  },
  props: {
    serviceArtisan: {
      type: Object as PropType<IServiceArtisans>,
      default: null,
    },
  },
})
</script>

<style scoped>
.card {
  @apply bg-white rounded-[0.625rem];

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.card-container {
  @apply flex flex-col px-6 pt-4 pb-2;
}
li {
  @apply py-0.5;
}
li span {
  @apply relative left-[-0.3rem];
}

.horizontal-line {
  height: 1px;
  border: 2px;
  background: #9c9c9c;
}
</style>
