<!-- eslint-disable -->
<template>
  <section>
    <div class="section-wrapper">
      <div class="content">
        <h3 class="text-[#0C2D52] font-bold">
          {{ title }}
        </h3>
        <p class="about-description">
          {{ description }}
        </p>
        <div class="grid-container">
          <div v-for="work in works" :key="work.id" class="grid-child">
            <div v-if="work.aboutImage" class="flex justify-center">
              <img
                class="sm:w-full w-1/2"
                :src="work.aboutImage.url"
                :alt="work.aboutImage.name"
              />
            </div>
            <p
              class="text-center text-xl sm:max-w-[18rem] max-w-[10rem] leading-6"
            >
              {{ work.caption }}
            </p>
          </div>
        </div>
      </div>
      <div class="app-section 2xl:content">
        <div class="app-container">
          <div
            v-if="appImage"
            :style="{
              backgroundImage: appImage ? `url(${appImage.url})` : '',
            }"
            class="card p-10 bg-no-repeat bg-cover app-child mt-5"
          >
            <div class="markdown text-[3.12rem] leading-[3.81rem]" v-html="$md.render(appStoreTitle || '')" />
            <p class="leading-6 leading-5 font-medium max-w-xl mt-3">
              {{ appStoreDescription }}
            </p>
            <div class="app-group">
              <a
                :href="playStoreLink"
                class="app-card"
                rel="noopener noreferrer"
                target="_blank"
              >
                <img
                  :alt="playStoreIcon.name"
                  :src="playStoreIcon.url"
                  data-not-lazy
                />
              </a>
              <a
                :href="appStoreLink"
                class="app-card"
                rel="noopener noreferrer"
                target="_blank"
              >
                <img
                  :alt="appStoreIcon.name"
                  :src="appStoreIcon.url"
                  data-not-lazy
                />
              </a>
            </div>
          </div>
          <div v-if="handImage" class="card app-child">
            <img :src="handImage.url" :alt="handImage.name" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IHomeAbouts } from "~/types/content"
import { IAsset } from "~/types/asset"

export default defineComponent({
  name: "About",
  props: {
    title: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
    works: {
      type: Array as PropType<IHomeAbouts[]>,
      default: () => [],
    },
    appImage: {
      type: Object as PropType<IAsset>,
      default: null,
    },
    handImage: {
      type: Object as PropType<IAsset>,
      default: null,
    },
    appStoreTitle: {
      type: String,
      default: "",
    },
    appStoreDescription: {
      type: String,
      default: "",
    },
    appStoreLink: {
      type: String,
      default: "",
    },
    playStoreLink: {
      type: String,
      default: "",
    },
    appStoreIcon: {
      type: Object as PropType<IAsset>,
      default: null,
    },
    playStoreIcon: {
      type: Object as PropType<IAsset>,
      default: null,
    },
  },
})
</script>

<style scoped>
section {
  @apply sm:pt-10 relative;
}
.section-wrapper {
  @apply bg-no-repeat relative sm:pt-20;
}

@screen sm {
  .section-wrapper {
    background-image: url("~assets/img/about-bg.svg");
  }
}

@media screen and (min-width: 1710px) {
  .section-wrapper {
    background-position: center;
  }
}

.about-description {
  @apply text-[#0C2D52] font-normal text-2xl leading-[1.875rem] sm:w-full;
  @apply max-w-screen-2xl mt-3;
}

.grid-container {
  @apply grid sm:grid-cols-3 grid-cols-2 grid-rows-2 pt-10 gap-[4rem];
}

.grid-container .grid-child {
  @apply flex justify-center items-center  space-y-10 flex-col;
}

.grid-child:nth-child(3) {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
}

@screen sm {
  .grid-child:nth-child(3) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
}

.app-section {
  @apply w-screen mt-32 bg-no-repeat sm:-mb-64;
}

.app-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40%;
  left: 15%;
  opacity: 0.25;
  background-image: url("~assets/img/app-mobile-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@screen sm {
  .app-section::before {
    @apply bg-none;
  }
}
.app-container {
  @apply grid sm:grid-cols-3 grid-cols-3 grid-rows-2 sm:grid-rows-1;
}

.card {
  @apply shadow-none relative z-10;
}

.app-container .app-child:nth-child(1) {
  @apply max-h-[18rem] mr-10;

  grid-column: 1 / span 3;
  grid-row: 2 / span 0;
}
.app-container .app-child:nth-child(2) {
  @apply relative  left-20;

  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

@screen sm {
  .app-container .app-child:nth-child(2) {
    @apply relative -top-40 -left-5 bg-transparent;

    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  .app-container .app-child:nth-child(1) {
    @apply max-h-[21rem];

    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
}

.app-card {
  @apply rounded-[0.635rem] cursor-pointer mb-10;
  @apply outline-none focus:outline-none ease-linear transition-all duration-150;
  @apply relative border border-transparent focus:ring-2 focus:ring-offset-1;
  @apply focus:ring-black;
}

.app-group {
  @apply flex sm:flex-row space-x-10 mt-5 w-3/5 sm:w-full;
  @apply relative z-10;
}
</style>
