<!-- eslint-disable vue/no-v-html-->
<template>
  <div>
    <div class="flex my-2">
      <div
        :class="{ checked: open }"
        class="question"
        @click.stop="open = !open"
      >
        <div class="flex items-center justify-between">
          <p class="question-text">{{ question }}</p>

          <caret-right-icon
            :class="{ 'rotate-180': open, '': !open }"
            class="
              inline
              w-4
              h-auto
              mt-1
              ml-1
              md:-mt-1
              transition-transform
              duration-200
              transform
              text-current
            "
          />
        </div>

        <div class="accordion__content overflow-hidden">
          <div
            class="accordion__body pt-6 text-[#071854] markdown"
            v-html="$md.render(answer || '')"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "@nuxtjs/composition-api"
import CaretRightIcon from "~/assets/icons/faq-caret-down.svg?inline"

export default defineComponent({
  name: "Accordion",
  components: { CaretRightIcon },
  props: {
    question: {
      type: String,
      default: "",
    },
    answer: {
      type: String,
      default: "",
    },
  },
  setup() {
    const open = ref<boolean>(false)

    return { open }
  },
})
</script>

<style scoped>
.question-wrapper {
  @apply py-4 bg-white;
}

.question {
  @apply w-full border-0 border p-4 rounded-2xl hover:border-primary-200 relative cursor-pointer;
  @apply shadow-lg;
}

.question-text {
  @apply text-xl  text-primary-200;
  @apply leading-6 overflow-auto;
}

.question .accordion__content {
  max-height: 0;
  transition: max-height 0.2s linear;
}

.question.checked .accordion__content {
  max-height: 100vh;
}

.question .icon {
  @apply flex items-center justify-center w-4 h-4;
}
</style>
