<!-- eslint-disable vue/no-v-html-->
<template>
  <section class="section-wrapper">
    <div class="content">
      <div class="faq-section">
        <h3 class="text-primary-200 w-full">
          We have answers to your <span class="text-[#F9D03F]">Questions!</span>
        </h3>
        <div class="faq-container">
          <div v-for="faq in faqs" :key="faq.id">
            <div class="flex my-2">
              <div
                :class="{ checked: isChecked(faq.id) }"
                class="question"
                @click="open(faq.id)"
              >
                <div class="flex items-center justify-between">
                  <p class="question-text">{{ faq.question }}</p>

                  <caret-right-icon
                    :class="{
                      'rotate-180': isChecked(faq.id),
                      '': !isChecked(faq.id),
                    }"
                    class="inline w-4 h-auto mt-1 ml-1 md:-mt-1 transition-transform duration-200 transform text-current"
                  />
                </div>

                <div class="accordion__content overflow-hidden">
                  <div
                    class="accordion__body pt-6 text-[#071854] markdown"
                    v-html="$md.render(faq.answer || '')"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from "@nuxtjs/composition-api"
import { IFaqs } from "~/types/content"
import CaretRightIcon from "~/assets/icons/faq-caret-down.svg?inline"
export default defineComponent({
  name: "Faq",
  components: { CaretRightIcon },
  props: {
    faqs: {
      type: Array as PropType<IFaqs[]>,
      default: () => [],
    },
  },
  setup() {
    const checked = ref<string>("")
    const open = (id: string) => {
      if (isChecked(id)) {
        checked.value = ""
      } else {
        checked.value = id
      }
    }
    const isChecked = (id: string): boolean => {
      return id === checked.value
    }

    return {
      open,
      isChecked,
    }
  },
})
</script>

<style scoped>
.faq-section {
  @apply sm:pt-32 pt-10 pb-32;
}

.faq-container {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4 mt-10;
}

.question-wrapper {
  @apply py-4 bg-white;
}

.question {
  @apply w-full border-0 border p-4 rounded-2xl hover:border-primary-200 relative cursor-pointer;
  @apply shadow-lg;
}

.question-text {
  @apply text-xl  text-primary-200;
  @apply leading-6 overflow-auto;
}

.question .accordion__content {
  max-height: 0;
  transition: max-height 0.2s linear;
}

.question.checked .accordion__content {
  max-height: 100vh;
}

.question .icon {
  @apply flex items-center justify-center w-4 h-4;
}
</style>
