<template>
  <div class="card">
    <div
      class="py-4 px-3 flex flex-col space-y-3 justify-center items-center max-h-[22rem]"
    >
      <div v-if="image" class="flex justify-center">
        <img
          class="w-1/2 sm:w-full object-cover"
          :alt="image.name"
          :src="image.url"
        />
      </div>
      <h4 class="text-[#0C2D52] font-bold text-center">{{ title }}</h4>
      <p class="text-center max-w-xs text-center text-[#0C2D52]">
        {{ description }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IAsset } from "~/types/asset"

export default defineComponent({
  name: "FeatureCard",
  props: {
    image: {
      type: Object as PropType<IAsset>,
      default: null,
    },
    title: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
  },
})
</script>
<style scoped>
.card {
  @apply cursor-pointer;
  @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
</style>
