<template>
  <section>
    <div class="hero-section">
      <div
        class="content section-wrapper"
        :style="{
          backgroundImage: currentProfession.image
            ? `url(${currentProfession.image.url})`
            : '',
        }"
      >
        <div class="hero-content">
          <h1 class="hero-title">
            Need Help? Find
            <br />
            <span
              class="text-[#F9D03F] transition-all ease-in-out duration-1000"
              >{{ currentProfession.title }}</span
            >
            around you
          </h1>
          <div
            class="sm:relative absolute sm:w-full w-[85%] justify-center sm:bottom-0 -bottom-52"
          >
            <p class="hero-description">
              {{ description }}
            </p>
            <form @submit.stop.prevent="onSearch">
              <div class="mt-8 flex w-full justify-center relative">
                <span class="icon-class">
                  <lens class="w-7" />
                </span>
                <input
                  id="search-mobile"
                  v-model.trim="query"
                  class="text-input"
                  placeholder="Search services"
                  name="search"
                  :class="{ loading }"
                  :disabled="loading"
                  aria-label="search"
                />
                <button
                  type="submit"
                  :disabled="loading"
                  class="btn btn-search z-10 -left-10"
                >
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="features-section">
      <div class="sm:-mt-64 sm:mb-[-32rem] relative z-10 content">
        <div class="grid-container">
          <feature-card
            v-for="feature in features"
            :key="feature.id"
            :image="feature.featureImage"
            :title="feature.featureTitle"
            :description="feature.featureDescription"
            class="grid-child"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  reactive,
  ref,
} from "@nuxtjs/composition-api"
import Lens from "~/assets/icons/lens.svg?inline"
import { IProfession } from "~/types/professions"
import FeatureCard from "~/components/home/FeatureCard.vue"
import { IFeature } from "~/types/content"
import { IQuery } from "~/types/page"
export default defineComponent({
  name: "Hero",
  components: { FeatureCard, Lens },
  props: {
    description: {
      type: String,
      default: "",
    },
    professions: {
      type: Array as PropType<IProfession[]>,
      default: () => [],
    },
    features: {
      type: Array as PropType<IFeature[]>,
      default: () => [],
    },
  },
  setup({ professions }, _) {
    const currentProfession = reactive<IProfession>({
      image: professions[0].image,
      title: professions[0].title,
    })

    const query = ref("")
    const loading = ref(false)

    const onSearch = async () => {
      loading.value = true

      await new Promise((resolve) => {
        setTimeout(resolve, 1000)
      })
      const searchQuery: IQuery = {
        q: "",
      }
      if (query.value) {
        searchQuery.q = query.value
      }
      window.location.href = `/services?q=${searchQuery.q}`
      loading.value = false
    }

    setInterval(() => {
      const rndInt = Math.floor(Math.random() * professions.length)
      const { image, title } = professions[rndInt]
      currentProfession.title = title
      currentProfession.image = image
    }, 10000)
    return {
      currentProfession,
      loading,
      query,
      onSearch,
    }
  },
})
</script>

<style scoped>
section {
  @apply bg-no-repeat;

  background-image: url("~assets/img/mobile-hero-bg.svg");
  background-position: top center;
}
@screen sm {
  section {
    @apply bg-no-repeat;

    background-image: url("~assets/img/home-bg-left.svg"),
      url("~assets/img/home-bg-right.svg");
    background-position: top left, top right;
  }
}

.hero-section {
  @apply pb-96 pt-10 sm:pt-32;
}

.section-wrapper {
  @apply bg-no-repeat bg-contain relative sm:p-20 pt-10 pb-44;
  @apply transition-all ease-in-out duration-1000;

  background-position: bottom right;
}

@screen sm {
  .section-wrapper {
    background-position: top 50% right;
    background-size: 45%;
  }
}

@media screen and (min-width: 1710px) {
  .section-wrapper {
    @apply bg-contain;
  }
}

@media screen and (max-width: 639px) and (min-width: 412px) {
  .section-wrapper {
    background-position: top 100% center;
    background-size: 70%;
  }
}

.hero-content {
  @apply max-w-screen-2xl flex flex-col items-start sm:justify-start pt-20 sm:pt-10 pb-64 sm:pb-10 text-white;
  @apply sm:max-w-xl max-w-lg sm:text-left;
}

.hero-title {
  @apply font-bold xl:max-w-lg md:max-w-xs max-w-[20rem] sm:leading-[3.8125rem] leading-[2.3125rem] text-[#0C2D52] sm:text-[3.125rem] text-3xl;
}

.hero-description {
  @apply mt-6 max-w-sm text-lg text-black leading-8;
}

.text-input {
  @apply border border-primary-300 focus:outline-none rounded-2xl sm:rounded-lg;
  @apply focus:shadow-sm w-full py-2 px-6 pl-16 h-14 text-black;
  @apply relative;
  @apply focus-within:outline-none focus:outline-none bg-white transition;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  @apply absolute top-0 left-0 pl-20 px-6 py-4 h-full pointer-events-none transform;
  @apply origin-left transition-all duration-100 ease-in-out;
  @apply text-[#9C9C9C] text-base;
}

.icon-class {
  @apply pointer-events-none absolute self-center z-10 top-1/2 transform -translate-y-1/2 left-3 rounded-lg px-1 py-1;
}

.features-section {
  @apply bg-no-repeat bg-contain;

  background-image: url("~assets/img/hero-features-mobile-bg.svg");
  background-position: bottom center;
}

@screen sm {
  .features-section {
    @apply bg-none;
  }
}

.grid-container {
  @apply grid grid-cols-3 grid-rows-3 gap-y-8 p-1;
}

.grid-container .grid-child:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.grid-container .grid-child:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.grid-container .grid-child:nth-child(3) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

@screen sm {
  .grid-container {
    @apply grid grid-cols-3 grid-rows-1 gap-x-20 p-5;
  }

  .grid-container .grid-child:nth-child(1) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .grid-container .grid-child:nth-child(2) {
    @apply relative -top-60;

    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .grid-container .grid-child:nth-child(3) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
}
</style>
