<template>
  <section class="section-wrapper">
    <div class="services-content">
      <div class="content">
        <h3 class="text-[#0C2D52] font-bold">
          {{ title }}
        </h3>
      </div>
      <div class="sm:px-8 sm:content">
        <div class="service-card">
          <div class="inner-card">
            <service-card
              v-for="service in services"
              :key="service.id"
              class="grid-child"
              :title="service.serviceTitle"
              :image="service.serviceImage"
            />
            <app-link
              :to="localePath({ name: 'services' })"
              class="grid-child page-link"
            >
              <span class="flex items-center space-x-4">
                <span> {{ buttonText }}</span>
                <arrow />
              </span>
            </app-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IService } from "~/types/content"
import ServiceCard from "~/components/home/ServiceCard.vue"
import AppLink from "~/components/AppLink.vue"
import Arrow from "~/assets/icons/service-arrow.svg?inline"
export default defineComponent({
  name: "Services",
  components: { AppLink, ServiceCard, Arrow },
  props: {
    title: {
      type: String,
      default: "",
    },
    services: {
      type: Array as PropType<IService[]>,
      default: () => [],
    },
    buttonText: {
      type: String,
      default: "",
    },
  },
})
</script>

<style scoped>
.section-wrapper {
  @apply pt-20 pb-20 relative bg-no-repeat;
}
.section-wrapper::before {
  content: "";
  background-image: none;
}
.section-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  top: -10%;
  left: 0;
  background-image: url("~assets/img/services-mobile-bg.svg");
  background-position: top right;
}
@screen sm {
  .section-wrapper {
    @apply pb-20 pt-72 relative bg-[#FAFAFA];
    @apply bg-no-repeat;
  }
  .section-wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    top: -40%;
    left: 0;
    background-image: url("~assets/img/services-left-bg.svg"),
      url("~assets/img/services-right-bg.svg");
    background-position: left, right;
    background-repeat: no-repeat;
  }

  .section-wrapper::after {
    content: "";
    background-image: none;
  }
}
.services-content {
  @apply pt-20;
}
.service-card {
  @apply sm:rounded-[1.25rem] bg-primary-400 sm:px-5 py-5 sm:max-w-7xl w-full mt-5;

  background: rgba(0, 183, 255, 0.1);
}
.inner-card {
  @apply cursor-pointer relative z-10;
  @apply sm:rounded-[1.25rem] p-10 h-full w-full;
  @apply grid sm:grid-cols-4 grid-cols-2 sm:grid-rows-2 gap-14;

  background: rgba(0, 183, 255, 0.2);
}

.inner-card .grid-child:nth-child(7) {
  @apply relative left-10;

  grid-column: 2;
}

@screen md {
  .inner-card .grid-child:nth-child(4) {
    grid-column: 1 / 1;
  }

  .inner-card .grid-child:nth-child(7) {
    @apply relative left-14 top-20;

    grid-column: 4/4;
  }
}

@screen lg {
  .inner-card .grid-child:nth-child(4) {
    grid-column: 1 / 1;
  }

  .inner-card .grid-child:nth-child(7) {
    @apply relative left-32 top-20;

    grid-column: 4/4;
  }
}

@screen xl {
  .inner-card .grid-child:nth-child(4) {
    grid-column: 1 / 1;
  }

  .inner-card .grid-child:nth-child(7) {
    @apply relative left-40 top-20;

    grid-column: 4/4;
  }
}

@screen 2xl {
  .inner-card .grid-child:nth-child(4) {
    grid-column: 1 / 1;
  }

  .inner-card .grid-child:nth-child(7) {
    @apply relative left-40 top-20;

    grid-column: 4/4;
  }
}

.page-link {
  @apply relative;
  @apply ease-in duration-75 bg-primary-300 p-5 max-h-14 max-w-[10rem];
  @apply flex items-center justify-center shadow-md rounded-xl text-white cursor-pointer;
  @apply leading-5 text-xs;
  @apply relative border border-transparent focus:ring-2 focus:ring-offset-1 focus:ring-[#286DAD];
}

@screen sm {
  .page-link {
    @apply font-bold leading-6 text-xl;
  }
}

.page-link:hover {
  @apply translate-x-1 ease-out duration-75;
}
</style>
