<template>
  <div class="card">
    <div class="py-1 px-2 flex flex-col space-y-2 justify-center items-center">
      <div v-if="image">
        <img class="w-full object-cover" :alt="image.name" :src="image.url" />
      </div>
      <p class="text-primary-200 text-base pb-2 font-bold text-center">
        {{ title }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IAsset } from "~/types/asset"

export default defineComponent({
  name: "ServiceCard",
  props: {
    image: {
      type: Object as PropType<IAsset>,
      default: null,
    },
    title: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
  },
})
</script>
<style scoped>
.card {
  @apply cursor-pointer;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
</style>
