<!-- eslint-disable -->
<template>
  <div class="testimonial-card">
    <div class="testimonial-card__avatar">
      <img
        :src="testimonial.image.url"
        :alt="testimonial.image.name"
      />
    </div>
    <div class="testimonial-card__user">
      {{ testimonial.title }}
    </div>
    <div class="testimonial-card__rating">
      <svg width="95" height="18" viewBox="0 0 95 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.96061 0.769043L10.8235 6.50249H16.852L11.9749 10.046L13.8378 15.7794L8.96061 12.2359L4.08345 15.7794L5.94636 10.046L1.0692 6.50249H7.0977L8.96061 0.769043Z" fill="#FFAF02"/>
        <path d="M28.3476 0.769043L30.2105 6.50249H36.239L31.3618 10.046L33.2247 15.7794L28.3476 12.2359L23.4704 15.7794L25.3333 10.046L20.4562 6.50249H26.4847L28.3476 0.769043Z" fill="#FFAF02"/>
        <path d="M47.7348 0.769043L49.5977 6.50249H55.6262L50.749 10.046L52.6119 15.7794L47.7348 12.2359L42.8576 15.7794L44.7205 10.046L39.8434 6.50249H45.8719L47.7348 0.769043Z" fill="#FFAF02"/>
        <path d="M67.1217 0.769043L68.9846 6.50249H75.0132L70.136 10.046L71.9989 15.7794L67.1217 12.2359L62.2446 15.7794L64.1075 10.046L59.2303 6.50249H65.2588L67.1217 0.769043Z" fill="#FFAF02"/>
        <path d="M86.5089 0.769043L88.3719 6.50249H94.4004L89.5232 10.046L91.3861 15.7794L86.5089 12.2359L81.6318 15.7794L83.4947 10.046L78.6175 6.50249H84.646L86.5089 0.769043Z" fill="#C4C4C4"/>
      </svg>
    </div>
    <div class="testimonial-card__text">{{ testimonial.text }}</div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { ITestimonials } from "~/types/content"

export default defineComponent({
  name: "TestimonialCard",
  props: {
    testimonial: {
      type: Object as PropType<ITestimonials>,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
@use "@/assets/css/abstracts";

.testimonial-card {
  @include abstracts.dft-flex-center;

  flex-direction: column;
  font-family: lato;
  background: #fff;
  border-radius: 1.25em;
  font-size: 1rem;
  box-shadow: 0 0.25rem 2.44rem -0.8rem rgba(0, 0, 0, 0.25);
  width: 23.75em;
  height: 23.75em;
  padding: 0 4.2em;
  z-index: 2;

  &--lg {
    font-size: 1.225rem;
  }

  &__avatar {
    @include abstracts.dft-flex-center;

    width: 5.4em;
    height: 5.4em;
    margin-bottom: 1em;
  }

  &__user {
    color: abstracts.$acc-blue;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 2.125em;
  }

  &__rating {
    margin-bottom: 0.625em;
    width: 5.95em;
    height: 1.125em;

    > svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-weight: 500;
    text-align: center;

    &::before {
      content: open-quote;
      font-weight: bold;
    }

    &::after {
      content: close-quote;
      font-weight: bold;
    }
  }
}
</style>
