<!-- eslint-disable -->
<template>
  <section>
    <div class="content">
      <div class="testimonial-section">
        <div class="testimonial-header">
          <span>TESTIMONIALS</span>
        </div>
        <div
          class="testimonial-title"
          v-html="$md.render(introTitle || '')"
        />
        <div class="testimonials-container">
          <left-arrow-icon
            class="arrow arrow--left"
            @click="startIndex--"
            :disabled="!hasPrev"
          />
          <testimonial-card
            v-for="(testimonial, index) in currentTestimonials"
            :key="testimonial.id"
            :testimonial="testimonial"
            :class="{'testimonial-card--lg': index == 1}"
          />
          <right-arrow-icon
            class="arrow arrow--right"
            @click="startIndex++"
            :disabled="!hasNext"
          />
          <testimonial-bg-icon class="testimonials-container__bg" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
// eslint-disable-next-line
import { computed, defineComponent, ref, PropType } from "@nuxtjs/composition-api"
import TestimonialCard from "~/components/home/TestimonialCard.vue"
import { ITestimonials } from "~/types/content"
import TestimonialBgIcon from "~/assets/icons/testimonials-bg.svg?inline"
import LeftArrowIcon from "~/assets/icons/left-arrow.svg?inline"
import RightArrowIcon from "~/assets/icons/right-arrow.svg?inline"

export default defineComponent({
  name: "Testimonial",
  components: {
    LeftArrowIcon,
    RightArrowIcon,
    TestimonialCard,
    TestimonialBgIcon,
  },
  props: {
    introTitle: {
      type: String,
      default: "",
    },
    testimonials: {
      type: Array as PropType<ITestimonials[]>,
      default: () => [],
    },
  },
  setup({ testimonials }) {
    const totalTestimonials = testimonials.length
    const startIndex = ref(0)
    const hasPrev = computed(() => startIndex.value - 1 >= 0)
    const hasNext = computed(() => totalTestimonials - startIndex.value > 3)
    const currentTestimonials = computed(() => {
      const endIndex = startIndex.value + 3
      return testimonials.slice(startIndex.value, endIndex)
    })

    return {
      currentTestimonials,
      hasPrev,
      hasNext,
      startIndex,
    }
  },
})
</script>

<style lang="scss" scoped>
@use "@/assets/css/abstracts";

.testimonial-section {
  display: grid;
  justify-items: center;
  padding-top: 17.5em;
  padding-bottom: 18em;
}

.testimonial-header {
  background-color: #b9c4ec;
  border-radius: 6.25em;
  padding: 0.25em 1.75em;
  margin-bottom: 1.5em;

  > span {
    color: abstracts.$acc-blue;
    font: bold 0.875rem lato;
  }
}

.testimonial-title {
  color: abstracts.$wrkman-black;
  font: bold 2.5rem rasa;
}

.testimonials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3.5em;
  position: relative;
  min-height: 23.75em * 1.25;

  &__bg {
    position: absolute;
    top: 4.5em;
    left: 50%;
    transform: translateX(-50%);
    max-width: 94vw;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;

    > .testimonial-card {
      margin-bottom: 1.5em;
    }

    &__bg {
      display: none;
    }
  }
}

.arrow {
  color: abstracts.$acc-blue;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #0730c5;
  }

  &--left {
    left: -3.375rem;
  }

  &--right {
    right: -3.375rem;
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }
}
</style>
