<template>
  <nuxt-link
    v-slot="{ href, isActive, isExactActive }"
    :to="to"
    custom
    v-bind="$attrs"
  >
    <a
      :class="{
        'nuxt-link-active': isExactActive,
        'nuxt-link-exact-active': isActive,
      }"
      :href="href"
    >
      <slot />
    </a>
  </nuxt-link>
</template>
<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "AppLink",
  props: {
    to: {
      type: [String, Object],
      required: true,
    },
  },
})
</script>
