<template>
  <section></section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Hero",
})
</script>
<style scoped>
section {
  @apply bg-no-repeat w-full h-full bg-cover min-h-[21rem] relative z-0;

  background-image: url("~assets/img/artisan-hero-bg.png");
}
</style>
