<template>
  <section class="section-wrapper">
    <div class="content">
      <div class="profile-card">
        <div
          v-if="artisan.picture"
          class="profile-image"
          :style="{
            backgroundImage: `url(https://res.cloudinary.com/dpfwt77wg/image/upload/${artisan.picture})`,
          }"
        ></div>
        <div class="flex items-center space-x-4">
          <location />
          <span class="font-medium text-lg leading-6">{{
            artisan.locationName
          }}</span>
        </div>
        <h1 class="text-center">
          {{ artisan.firstName }} {{ artisan.lastName }} -
          {{ getService }}
        </h1>
        <div class="card styled-card p-5 sm:max-w-[23rem] w-full">
          <div class="grid grid-cols-2 gap-x-4">
            <div
              class="flex flex-col border-r items-center border-solid border-[#A2A2A2] space-y-5"
            >
              <p class="font-light text-base leading-5">Total Jobs</p>
              <p class="font-bold text-base leading-5">
                {{ artisan.totalJobs }}
              </p>
            </div>
            <div class="flex flex-col items-center space-y-5">
              <p class="font-light text-base leading-5">Customer Ratings</p>
              <p class="font-bold text-base leading-5">
                {{ artisan.ratings }} / 5
              </p>
            </div>
          </div>
        </div>
        <div class="flex justify-between max-w-[30rem] w-full pt-10">
          <app-link
            :to="localePath({ name: 'dashboard' })"
            class="btn md max-w-[10rem] w-full bg-[#4477C3] rounded-[0.3rem]"
            >Send Message</app-link
          >
          <a
            class="btn bg-primary-400 md max-w-[10rem] w-full rounded-[0.3rem]"
            :href="`tel: ${artisan.phone}`"
            >Call</a
          >
        </div>
      </div>
      <div class="profile-about">
        <span class="flex justify-center profile-sub-init">
          <info />
          <span class="profile-sub-text">About</span>
        </span>
        <div
          class="grid w-full sm:gap-y-0 gap-y-8 sm:grid-cols-2 sm:ml-10 grid-cols-1 sm:border-l border-solid sm:pl-10 pb-10 border-black"
        >
          <div class="flex flex-col">
            <h5
              class="text-[1.5rem] font-bold text-primary-400 leading- font-sans"
            >
              Bio
            </h5>
            <p class="font-medium text-lg leading-6 text-[#071854] pt-4">
              {{ artisan.bio }}
            </p>
          </div>
          <div class="flex flex-col">
            <h5
              class="text-[1.5rem] font-bold text-primary-400 leading- font-sans"
            >
              Skills
            </h5>
            <div class="skills pt-3">
              <ul>
                <li v-for="skill in artisan.skills" :key="skill">
                  {{ skill }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-photos">
        <span class="flex justify-center profile-sub-init">
          <photos />
          <span class="profile-sub-text">Photos</span>
        </span>
        <div
          class="flex w-full sm:ml-10 space-x-6 sm:border-l border-solid sm:pl-10 pb-10 border-black"
        >
          <div
            v-for="photo in artisan.photos"
            :key="photo"
            class="photo-image"
            :style="{
              backgroundImage: photo
                ? `url(https://res.cloudinary.com/dpfwt77wg/image/upload/${photo})`
                : '',
            }"
          ></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from "@nuxtjs/composition-api"
import { IServiceArtisans, IServicesContent } from "~/types/content"
import Location from "~/assets/icons/location-blue.svg?inline"
import Info from "~/assets/icons/info.svg?inline"
import Photos from "~/assets/icons/photos.svg?inline"
import AppLink from "~/components/AppLink.vue"

export default defineComponent({
  name: "Profile",
  components: { AppLink, Location, Info, Photos },
  props: {
    artisan: {
      type: Object as PropType<IServiceArtisans>,
      default: null,
    },
  },
  serverPrefetch(): Promise<void> {
    return this.$store.dispatch("services/getData")
  },
  setup({ artisan }, { root }) {
    const getService = computed((): IServicesContent => {
      return root.$store.state.services.data.find((item: IServicesContent) => {
        return item._id === artisan.serviceType
      }).name
    })
    return {
      getService,
    }
  },
})
</script>

<style scoped>
.section-wrapper {
  @apply pb-20 bg-[#FAFAFA] -mt-10 relative;

  border-radius: 40px 40px 0 0;
}
@screen sm {
  .profile-card {
    @apply bg-white;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
.profile-card {
  @apply rounded-xl bg-none;
  @apply flex flex-col items-center justify-center space-y-5;
  @apply max-w-[69rem] w-full mx-auto -top-20 relative z-10 pb-20 px-10;
}
.profile-image {
  @apply rounded-full flex justify-center items-center sm:w-[15rem] sm:h-[15rem] w-[6.2rem] h-[6.2rem];
  @apply relative z-20 sm:-mt-20;
  @apply bg-no-repeat bg-cover;
}
.styled-card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-about {
  @apply flex sm:flex-row flex-col sm:space-y-0 space-y-4 max-w-[74rem] w-full;
  @apply relative sm:mx-auto;
}

.profile-photos {
  @apply flex sm:flex-row flex-col max-w-[74rem] w-full;
  @apply relative mx-auto mt-10;
  @apply sm:space-y-0 space-y-4;
}

.profile-sub-init {
  @apply flex flex-none space-x-5 sm:max-w-[10rem] w-full justify-start pt-10;
  @apply sm:border-t-0 border-t border-solid sm:pl-10 pb-10 border-black;
}
.profile-sub-text {
  @apply text-[#071854] font-bold text-3xl leading-[2.3rem] font-serif;
}
.skills ul {
  list-style: revert;
  padding: revert;
}
.skills ul li {
  @apply text-[#071854] py-1 font-bold text-lg leading-6;
}
.photo-image {
  @apply rounded-xl flex justify-center items-center sm:w-[6rem] sm:h-[6rem] w-[6.2rem] h-[6.2rem];

  @apply bg-no-repeat bg-cover;
}
</style>
