@font-face {
  font-family: "lato";
  font-display: block;
  src: url("~assets/fonts/lato/lato-regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "lato";
  font-display: block;
  src: url("~assets/fonts/lato/lato-medium.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "lato";
  font-display: block;
  src: url("~assets/fonts/lato/lato-semibold.ttf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "lato";
  font-display: block;
  src: url("~assets/fonts/lato/lato-bold.ttf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "lato";
  font-display: block;
  src: url("~assets/fonts/lato/lato-bold.ttf") format("opentype");
  font-weight: 800;
}
