@font-face {
  font-family: "rasa";
  font-display: block;
  src: url("~assets/fonts/rasa/rasa-regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "rasa";
  font-display: block;
  src: url("~assets/fonts/rasa/rasa-medium.ttf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "rasa";
  font-display: block;
  src: url("~assets/fonts/rasa/rasa-semibold.ttf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "rasa";
  font-display: block;
  src: url("~assets/fonts/rasa/rasa-bold.ttf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "rasa";
  font-display: block;
  src: url("~assets/fonts/rasa/rasa-bold.ttf") format("opentype");
  font-weight: 800;
}
