@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    @apply overflow-x-hidden;

    scroll-behavior: smooth;

  }

  body {
    @apply text-body overflow-x-hidden;
  }

  .break-hyphen {
    hyphens: auto;
  }

  address {
    font-style: normal;
  }

  input, textarea {
    @apply disabled:cursor-not-allowed disabled:bg-gray-50;
  }

  input.loading, textarea.loading {
    @apply bg-gray-50 cursor-wait;
  }

  .content {
    @apply max-w-screen-2xl mx-auto px-10 lg:px-16;
  }

  input::placeholder, textarea::placeholder {
    @apply text-gray4;
  }

  .page-loader {
    @apply w-full fixed top-0 left-0 right-0;
    @apply bg-white items-center justify-center flex z-50;
  }

  /*
  * Navbar
  */
  div.top-anchor {
    @apply static;

    top: -1px;
  }

  nav#app-nav {
    @apply fixed z-max transition ease-linear transition-all duration-100 sm:top-[-0.0625rem] top-[-1rem];

    left: 0;
    right: 0;

  }

  nav#app-nav .logo {
    @apply block max-h-[52px] w-auto;
  }

  nav#app-nav.stuck {
    @apply bg-white shadow;
  }

  nav#app-nav.stuck .brand {
    @apply text-current;
  }

  nav#app-nav .main-menu {
    @apply text-white;
  }

  nav#app-nav.stuck .main-menu, nav#app-nav.open .main-menu {
    @apply text-black;
  }

  nav#app-nav .link {
    @apply px-3 py-2 rounded-md text-base font-normal relative text-primary-200;
    @apply hover:bg-primary-500 hover:bg-opacity-10 transition-opacity duration-150;
  }

  nav#app-nav .link.nuxt-link-active {
    @apply bg-primary-500 bg-opacity-10;
  }



  nav#app-nav .link-provide-help {
    @apply text-primary-400 active:bg-primary-500 hover:text-primary-500 sm:px-4  py-2 rounded-md font-normal text-base;
  }

  nav#app-nav .link-login {
    @apply text-white bg-primary-400 px-2 py-2 rounded-md font-normal text-base;
  }

  nav#app-nav.stuck .link {
    @apply hover:bg-primary-500 hover:bg-opacity-10;
  }

  nav#app-nav.stuck .link.dropdown-open {
    @apply bg-primary-500;
  }

  nav#app-nav.stuck .link-provide-help {
    @apply hover:bg-primary-500 hover:bg-opacity-10;
  }

  div#mobile-menu {
    @apply fixed z-max transition ease-linear transition-all duration-100 overflow-hidden sm:h-0 w-3/5 right-0 bg-white text-black;
    @apply shadow-lg;
  }

  /*
  * Typography
  */
  h1, .h1 {
    @apply font-bold font-serif;

    font-size: 3.375rem;
    line-height: 3.875rem;
  }

  h2, .h2 {
    @apply font-bold font-serif;

    font-size: 3rem;
    line-height: 3.875rem;
  }

  h3, .h3 {
    @apply font-bold font-serif;

    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  h4, .h4 {
    @apply font-bold font-serif;

    font-size: 2rem;
    line-height: 2.625rem;
  }

  h5, .h5 {
    @apply font-bold font-serif;

    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .font-body {
    @apply font-normal;

    font-size: 1.125rem;
    line-height: 1.875rem;
  }

  .font-body-2 {
    @apply font-normal;

    font-size: 1rem;
    line-height: 1.75rem;
  }

  .font-subtext {
    @apply font-normal;

    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  .font-caption {
    @apply font-normal;

    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  .font-link {
    @apply font-semibold text-primary-500;

    font-size: 1rem;
    line-height: 1.75rem;
  }

  /*
  * Buttons: primary
  */
  .btn {
    @apply text-center text-white bg-primary-400 active:bg-primary-400 hover:bg-primary-400 font-normal px-4 py-3;
    @apply rounded-[10px] shadow-sm hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150;
    @apply relative border border-transparent focus:ring-2 focus:ring-offset-1 focus:ring-primary-400;
  }

  .btn-search {
    @apply bg-[#00B7FF]  text-center px-10 py-[0.55rem];

    border-radius: 0 12px 12px 0;
  }

  .btn.outline {
    @apply border-primary-200 border-solid border bg-transparent text-primary-500;
  }

  .btn.sm {
    @apply text-xs px-4 py-2;
  }

  .btn.md {
    @apply text-sm font-medium px-6 py-2;
  }

  .btn.lg {
    @apply text-base font-medium px-8 py-2;
  }

  .btn.xl {
    @apply text-base font-medium px-9 py-3;
  }

  .btn.loading {
    @apply bg-primary-100 cursor-wait shadow-none hover:shadow-none focus:ring-primary-100;
  }

  .btn.disabled, .btn[disabled] {
    @apply cursor-not-allowed shadow-none hover:shadow-none focus:ring-0 bg-gray7;
  }


  /*
  * Form Elements: checkbox
  */
  .form-checkbox {
    @apply flex items-center;
  }

  .form-checkbox input {
    @apply h-5 w-5 text-primary-500 focus:ring-primary-500 border-gray-300 rounded disabled:bg-gray-200 disabled:border-gray-200;
    @apply cursor-pointer;
  }

  .form-checkbox label {
    @apply ml-2 block text-sm text-gray-900 cursor-pointer;
  }


  /*
  * Tags
  */
  .tag {
    @apply font-normal rounded-full px-4 py-2 text-gray2 bg-gray8;

    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #575A65;
  }

  .tag.info {
    background-color: #E1EBF5;
    color: #2A69AF;
  }

  .tag.success {
    background-color: #DEFFE5;
    color: #188F32;
  }

  .tag.attention {
    background-color: #FFFADE;
    color: #CC9600;
  }

  .tag.warning {
    background-color: #FFF3F3;
    color: #CC4945;
  }

  /*
  * Cards
  */
  .card {
    @apply rounded-[1.25rem] lg:rounded-3xl overflow-hidden shadow-md relative bg-white;
  }

  .card .card-body {
    @apply px-8 py-6 lg:px-10 lg:py-8 xl:px-12 xl:py-10;
  }

  .card .card-meta {
    @apply font-normal text-xs leading-8;
  }

  .card .card-meta span:nth-child(n+2)::before {
    @apply font-bold text-primary-500 mx-2;

    font-size: 1.2rem;
    content: '•';
    vertical-align: middle;
  }

  .card .card-title {
    @apply mb-3 line-clamp-2 text-primary-500 hover:text-current transition duration-300;
  }

  .card .card-text {
    @apply font-subtext;
  }

  /**
  * Markdown content
   */
  .markdown h2 {
    @apply mb-8 lg:mb-12;
  }

  .markdown h3 {
    @apply mb-6 lg:mb-10;
  }

  .markdown ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  .markdown ul li {
    @apply text-[#071854] py-3 font-bold text-lg leading-6;
  }

  .markdown a {
    @apply text-primary-500 no-underline;
  }

  .markdown p + p {
    @apply mt-4 lg:mt-6;
  }

  .markdown p + h2, .markdown ul + h2 {
    @apply mt-16 lg:mt-20;
  }

  .markdown p + h3, .markdown ul + h3 {
    @apply mt-14 lg:mt-16;
  }

  .markdown.legal h3::before {
    @apply mr-4;

  }

  /**
  * Footer disclaimer
   */
  .footer-disclaimer-text {
    @apply mr-10 lg:mr-20;
  }

  .footer-disclaimer-text a {
    @apply underline text-white;
  }

  .footer-disclaimer-text p + p {
    @apply mt-4 lg:mt-6;
  }


  #about-title.markdown a {
    @apply text-primary-400 no-underline;
  }


}


