@use '../abstracts';

.c-form-container {
  font-size: 1rem;
  font-family: lato;

  @media screen and (min-width: 480px) {
    width: 90%;
    margin: 0 auto;
  }
}

.c-form-header {
  color: abstracts.$wrkman-black;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 3.5em;

  &__main {
    font-size: 1.525rem;
    font-weight: bold;
    margin-bottom: 1em;
  }
}

.c-form {

  &__input-container {
    position: relative;
  }
  
  &__input,
  &__btn {
    width: 100%;
    border-radius: 0.625em;
    font-family: inherit;
  }

  &__input {
    padding: 1em 1.75em 1em 1em;
    background: #fff;
    border: 1px solid abstracts.$pry-grey;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    color: #fff;
    background-color: abstracts.$pry-blue;
    font-size: 0.875rem;
    padding: 0.875em 0;
    margin-top: 3.5em;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: abstracts.$pry-hover-blue;
    }
  }

  &__eye-container {
    cursor: pointer;
  }

  &__eye-svg {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    color: abstracts.$pry-grey;
    width: 1.425em;
    height: 1.6em;
    transition: all 0.25s ease-in;

    &:hover {
      color: abstracts.$wrkman-black;
    }

    &:focus {
      outline: none;
    }

    &--hide-open {
      pointer-events: none;
      opacity: 0;
      // from the above, we can see the initial translateY is -50%, now since the goal is to
      // translate the element by 20%, the result would be -50% + 20% = -30%
      transform: translateY(-30%);
    }

    &--hide-slash {
      pointer-events: none;
      opacity: 0;
      // in this case, the goal is to translate the element by -20%, as we know, the element has
      // an original translateY of -50%, hence -50% - 20% = -70%
      transform: translateY(-70%);
    }
  }

  &__label {
    color: #071854;
    display: block;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.01em;
    margin-bottom: 0.34em;
    transition: color 0.25s ease;
  }

  &__error-list {
    margin-top: 0.25em;
    color: abstracts.$error-red;

    > li {
      list-style-type: none;
      font-size: 0.875rem;
    }
  }

  &__row {
    padding: 0.675em 0;

    &--error {
      > .c-form__label {
        color: abstracts.$error-red;
      }

      .c-form__input {
        border-color: abstracts.$error-red;
      }
    }

    &:focus-within {

      > .c-form__label {
        color: abstracts.$pry-blue;
      }

      .c-form__eye-svg {
        color: abstracts.$wrkman-black;
      }

      .c-form__input {
        outline: 2px solid abstracts.$pry-blue;
        border-color: transparent;
      }
    }
  }

  &__text {
    margin-top: 0.25em;
    font-size: 0.875rem;

    a {
      font-size: inherit;
      font-weight: 600;
      color: abstracts.$acc-blue;
    }
  }
}
