<template>
  <section class="section-wrapper">
    <div v-if="contact" class="content">
      <h2 class="text-[#B8E4EE] text-4xl leading-10 pb-10 pt-10 font-bold">
        {{ contact.introTitle }}
      </h2>
      <div class="contact-container">
        <div class="flex sm:flex-grow flex-col justify-start">
          <div class="flex flex-col space-y-8">
            <span class="contact-info">
              <phone />
              <span class="text-white text-lg leading-5">{{
                contact.phone
              }}</span>
            </span>
            <span class="contact-info">
              <envelope />
              <span class="text-white text-lg leading-5">{{
                contact.email
              }}</span>
            </span>
            <span class="contact-info">
              <location />
              <span class="text-white text-lg leading-7 max-w-[15rem]">{{
                contact.address
              }}</span>
            </span>
          </div>
        </div>
        <div class="sm:flex-grow sm:pr-20 sm:w-3/5 w-full mb-10">
          <form>
            <div
              class="flex sm:flex-row space-y-5 sm:space-y-0 flex-col sm:space-x-7"
            >
              <text-input label="Name" placeholder="Name" />
              <text-input label="Email" placeholder="Email" />
            </div>
            <div class="mt-5 sm:max-w-6xl max-w-2xl">
              <text-block
                label="Type your message"
                placeholder="Type your message"
              />
            </div>
            <button class="btn btn-primary xl float-right mt-4">
              {{ contact.buttonText }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"
import Phone from "~/assets/icons/phone.svg?inline"
import Envelope from "~/assets/icons/envelope.svg?inline"
import Location from "~/assets/icons/location.svg?inline"
import TextInput from "~/components/textInput/index.vue"
import TextBlock from "~/components/textBlock/Index.vue"
export default defineComponent({
  name: "Contact",
  components: { TextBlock, TextInput, Phone, Envelope, Location },
  computed: {
    ...mapGetters("layout", ["contact"]),
  },
})
</script>
<style scoped>
.section-wrapper {
  @apply pt-10 pb-10 bg-[#0C2D52] relative z-10;

  background-image: url("~assets/img/footer-contact-bg.svg"),
    url("~assets/img/footer-contact-bg-text.svg");
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.contact-container {
  @apply flex sm:flex-row sm:space-x-10  flex-col-reverse;
}

.contact-info {
  @apply flex items-center space-x-3;
}
</style>
