<!-- eslint-disable vue/no-v-html-->
<template>
  <div class="footer-wrapper">
    <div class="content">
      <div class="footer-links-wrapper">
        <div class="">
          <h4 class="h5">{{ getHelp }}</h4>
          <ul>
            <li v-for="(link, id) in getHelpLinks" :key="id">
              <app-link :to="localePath({ name: link.to })"
                >{{ link.name }}
              </app-link>
            </li>
          </ul>
        </div>
        <div class="sm:col-span-2">
          <h4 class="h5">{{ company }}</h4>
          <ul>
            <li v-for="(link, id) in companyLinks" :key="id">
              <app-link :to="localePath({ name: link.to })"
                >{{ link.name }}
              </app-link>
            </li>
          </ul>
        </div>
        <div
          class="col-span-5 sm:col-span-1 flex flex-col sm:justify-start justify-center space-y-6 sm:items-start items-center"
        >
          <img v-if="logo" :alt="logo.name" :src="logo.url" class="max-w-max" />
          <div class="flex space-x-10">
            <span
              v-for="social in socialLinks"
              :key="social.id"
              class="media-icon"
            >
              <a
                :aria-label="social.socialName"
                :href="social.socialLink"
                class="media-link"
                rel="noopener noreferrer"
                target="_blank"
              >
                <component :is="`${social.socialName}-blue`"></component>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div
        class="pt-4 text-primary-400 text-base font-serif font-medium pb-10 px-10 flex sm:justify-start justify-center leading-8 markdown"
        v-html="$md.render(copyright || '')"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { PropType } from "@nuxtjs/composition-api"
import { IAsset } from "~/types/asset"
import AppLink from "~/components/AppLink.vue"
import { ILinkItems, IMediaLinkItems } from "~/types/content"
import InstagramBlue from "~/assets/icons/instagram-blue.svg?inline"
import FacebookBlue from "~/assets/icons/facebook-blue.svg?inline"
import TwitterBlue from "~/assets/icons/twitter-blue.svg?inline"
import LinkedInBlue from "~/assets/icons/linked-in-blue.svg?inline"
export default {
  name: "AppFooter",

  components: {
    AppLink,
    InstagramBlue,
    FacebookBlue,
    LinkedInBlue,
    TwitterBlue,
  },
  props: {
    getHelp: { type: String, default: "" },
    company: { type: String, default: "" },
    copyright: { type: String, default: "" },
    getHelpLinks: { type: Array as PropType<ILinkItems[]>, default: () => [] },
    companyLinks: { type: Array as PropType<ILinkItems[]>, default: () => [] },
    socialLinks: {
      type: Array as PropType<IMediaLinkItems[]>,
      default: () => [],
    },
    logo: { type: Object as PropType<IAsset>, default: () => ({}) },
  },
}
</script>

<style scoped>
.footer-wrapper {
  @apply bg-[#F3F8F9];
}

.footer-links-wrapper {
  @apply relative grid grid-cols-2 gap-12 sm:grid-cols-5  py-10 sm:px-10;
}

.footer-links-wrapper > div {
  @apply space-y-4;
}

.footer-links-wrapper > div > .h5 {
  @apply font-bold text-lg leading-5 text-primary-500 font-sans;
}

.footer-links-wrapper ul {
  @apply space-y-4;
}

.footer-links-wrapper ul li {
  @apply text-[#071854] hover:text-[#071854] font-normal text-sm leading-4;
  @apply transition-colors;
}

.footer-links-wrapper ul li a.nuxt-link-exact-active {
  @apply text-primary-500;
}

.media-link {
  @apply hover:shadow-2xl hover:scale-105 transform transition text-lg;
}

.media-icon {
  @apply h-14 w-14 rounded-full flex justify-center items-center bg-white shadow-lg cursor-pointer;
}

svg path {
  fill: #2046cb;
}
</style>
