<template>
  <div class="error-wrapper">
    <div v-if="error.statusCode === 404" class="text-white">
      <div class="flex items-center justify-center text-9xl font-bold">
        <div class="">
          <img src="~/assets/icons/404.svg" alt="404 icon" />
        </div>
      </div>
      <h1 class="mt-8">{{ error.message || "Page not found" }}</h1>
      <h2 class="pt-6 h5">
        {{ error.description || "Oops Something went wrong" }}
      </h2>
    </div>
    <div v-else class="text-white">
      <div class="flex items-center justify-center text-9xl font-bold">
        <p>500</p>
      </div>
      <h1 class="mt-8">{{ error.message || "Error" }}</h1>
      <h2 class="pt-6 h5">An error occurred</h2>
    </div>
    <app-link :to="localePath({ name: 'index' })" class="btn secondary mt-8">
      <span class="mr-3">&larr;</span>
      {{ "Back to home page" }}
    </app-link>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  onMounted,
  onUnmounted,
} from "@nuxtjs/composition-api"
import { IPageError } from "~/types/page"
export default defineComponent({
  name: "Error",
  components: {},
  layout: "default",
  props: {
    error: {
      type: Object as PropType<IPageError>,
      default: () => ({}),
    },
  },
  setup(props: any, { parent }) {
    const isServerError = computed(() => props.error.statusCode >= 500)

    onMounted(() => {
      parent?.$emit("error", true)
    })

    onUnmounted(() => {
      parent?.$emit("error", false)
    })

    return { isServerError }
  },
  head() {
    let { seoTitle } = this.error as IPageError
    if (!seoTitle) {
      if (this.error.statusCode && this.error.statusCode >= 500) {
        seoTitle = "Error"
      } else {
        seoTitle = "404: Page Not Found"
      }
    }
    return {
      title: `${seoTitle}`,
      meta: [
        {
          property: "og:title",
          content: `${seoTitle}`,
          template: (chunk) => `${chunk} - Wrkman Solutions Limited`,
          vmid: "og:title",
        },
      ],
    }
  },
})
</script>

<style>
.error-wrapper {
  @apply flex flex-col w-full px-4 justify-center h-screen;
  @apply items-center text-center bg-no-repeat bg-cover;

  min-height: calc(100vh - 64px);
  background-image: url("~assets/img/404.png");
}
</style>
