<template>
  <section>
    <template v-if="data">
      <about-hero
        :intro-image="data.heroImage"
        :description="data.heroDescription"
      />
      <about-offer
        :intro-title="data.whatWeOfferText"
        :content="data.whatWeOfferContent"
      />
      <about-team :intro-title="data.introTitle" :teams="data.teams" />
    </template>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"

export default defineComponent({
  name: "About",
  serverPrefetch() {
    const {
      $i18n: { locale },
    } = this

    // @ts-ignore
    const $apollo = this.$root.$options.apolloProvider.defaultClient

    return this.$store.dispatch("about/getData", {
      locale,
      apolloQuery: $apollo.query,
    })
  },
  head() {
    return {
      title: `${this.seoTitle}`,
      description: `${this.seoPageDescription}`,
      meta: [
        {
          property: "og:title",
          content: `${this.seoTitle}`,
          template: (chunk) => `${chunk} - Wrkman Solutions Limited`,
          vmid: "og:title",
        },
      ],
    }
  },
  computed: {
    ...mapGetters("about", ["data", "seoTitle", "seoPageDescription"]),
  },
})
</script>
