<template>
  <section class="content">
    <div class="flex h-screen justify-center items-center">
      <p>contact</p>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Contact",
  head: {
    title: "contact",
  },
})
</script>
