<template>
  <section class="content">
    <div class="flex h-screen justify-center items-center">
      <p>faqs</p>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Faqs",
  head: {
    title: "faqs",
  },
})
</script>
