<template>
  <section>
    <template v-if="data">
      <home-hero
        :description="data.introDescription"
        :professions="data.professions"
        :features="data.features"
      />

      <home-services
        :title="data.servicesIntroTitle"
        :services="data.services"
        :button-text="data.servicesButtonText"
      />
      <home-about
        :title="data.aboutTitle"
        :description="data.aboutDescription"
        :works="data.homeAbouts"
        :app-image="data.appStoreImage"
        :hand-image="data.handImage"
        :app-store-title="data.appStoreIntroTitle"
        :app-store-description="data.appStoreIntroDescription"
        :app-store-link="data.appStoreLink"
        :play-store-link="data.playStoreLink"
        :app-store-icon="data.appStoreIcon"
        :play-store-icon="data.playStoreIcon"
      />
      <div class="testimonial-faq">
        <home-testimonial
          :intro-title="data.testimonialTitle"
          :testimonials="data.homeTestimonials"
        />
        <home-faq :faqs="data.faqs" />
      </div>

      <!--      <button class="btn cursor-pointer" @click.self="$logout()">Logout</button>-->
    </template>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"

export default defineComponent({
  name: "Home",
  serverPrefetch() {
    const {
      $i18n: { locale },
    } = this

    // @ts-ignore
    const $apollo = this.$root.$options.apolloProvider.defaultClient

    return this.$store.dispatch("home/getData", {
      locale,
      apolloQuery: $apollo.query,
    })
  },
  head() {
    return {
      title: `${this.seoTitle}`,
      description: `${this.seoPageDescription}`,
      meta: [
        {
          property: "og:title",
          content: `${this.seoTitle}`,
          template: (chunk) => `${chunk} - Wrkman Solutions Limited`,
          vmid: "og:title",
        },
      ],
    }
  },
  computed: {
    ...mapGetters("home", ["data", "seoTitle", "seoPageDescription"]),
  },
})
</script>
<style scoped>
.testimonial-faq {
  @apply pt-20 pb-20 relative;
}

@screen sm {
  .testimonial-faq {
    @apply pb-20 pt-64 relative bg-[#FAFAFA];
  }
}
</style>
