<template>
  <section class="c-section-wrapper">
    <div class="content c-content">
      <div class="card w-full sm:px-0 px-10 max-w-6xl pt-12 my-20">
        <auth-main
          :on-tab-switch="onTabSwitch"
          :login-header="'Log In'"
          :register-header="'Sign Up'"
        />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Login",
  head: {
    title: "Login",
  },
  methods: {
    onTabSwitch(tab: string) {
      this.tab = tab
    },
  },
})
</script>
