<template>
  <div class="c-form-container">
    <div class="c-form-header">
      <p class="c-form-header__main">
        <slot name="form-header"></slot>
      </p>
      <slot name="form-sub-text"></slot>
    </div>

    <form class="c-form" @submit.prevent="formFunc">
      <slot name="form-data"></slot>

      <FormRow>
        <button type="submit" class="c-form__btn">
          <slot name="button-text">Submit</slot>
        </button>
      </FormRow>
    </form>
  </div>
</template>

<script>
import { defineComponent } from "@nuxtjs/composition-api"
import FormRow from "./FormRow.vue"

export default defineComponent({
  name: "BaseForm",
  components: {
    FormRow,
  },
  props: {
    formFunc: {
      type: Function,
      default: () => null,
    },
  },
})
</script>
