<!-- eslint-disable -->
<template>
  <div class="c-form__input-container">
    <input
      class="c-form__input"
      :aria-label="ariaLabel"
      :name="name"
      :type="inputType"
      :value="value"
      :placeholder="placeholder"
      :disabled="disabled"
      :required="required"
      @blur="$emit('blur', $event.target.value)"
      @input="$emit('input', $event.target.value)"
      @keyup="$emit('keyup', $event.target.value)"
    />
    <div
      v-if="isPassword"
      class="c-form__eye-container"
      @click="$emit('toggleVisibility')"
    >
      <eye-slash-icon
        tabindex="0"
        :class="[
          'c-form__eye-svg',
          { 'c-form__eye-svg--hide-slash': !isCurrentTypePassword }
        ]"
      />
      <eye-icon
        tabindex="0"
        :class="[
          'c-form__eye-svg',
          { 'c-form__eye-svg--hide-open': isCurrentTypePassword }
        ]"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import EyeIcon from "~/assets/icons/eye.svg?inline"
import EyeSlashIcon from "~/assets/icons/eye-slash.svg?inline"

export default defineComponent({
  name: "FormInput",
  components: {
    EyeIcon,
    EyeSlashIcon,
  },
  props: {
    ariaLabel: {
      type: String,
      default: "",
    },
    name: {
      type: String,
      default: "",
    },
    inputType: {
      type: String,
      default: "text",
    },
    placeholder: {
      type: String,
      default: "",
    },
    value: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      isPassword: false,
    }
  },
  computed: {
    isCurrentTypePassword(): boolean {
      return this.inputType === "password"
    },
  },
  mounted() {
    this.isPassword = this.inputType === "password"
  },
})
</script>
