<template>
  <div :class="['c-form__row', { 'c-form__row--error': hasErrors }]">
    <slot>
      <label class="c-form__label">
        <slot name="label"></slot>
      </label>
      <slot name="input"></slot>
      <ul class="c-form__error-list">
        <li v-for="(error, index) in errors" :key="index">
          {{ error }}
        </li>
      </ul>
    </slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "FormRow",
  props: {
    errors: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    hasErrors(): boolean {
      return this.errors.length > 0
    },
  },
})
</script>
