<template>
  <base-form :form-func="authenticateUser">
    <template #form-header>Log in to find a service</template>

    <template #form-data>
      <form-row>
        <template #label>Email</template>
        <template #input>
          <form-input
            v-model="formData.email"
            name="email"
            input-type="email"
            placeholder="Enter email address"
            required
          />
        </template>
      </form-row>

      <form-row>
        <template #label>Password</template>
        <template #input>
          <form-input
            v-model="formData.password"
            name="password"
            :input-type="pwordType"
            placeholder="Enter password"
            required
            @toggleVisibility="togglePassword"
          />
        </template>
      </form-row>

      <p class="c-form__text">
        <app-link to="/password-reset">Forgot password?</app-link>
      </p>
    </template>

    <template #button-text>Log In</template>
  </base-form>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from "@nuxtjs/composition-api"
import BaseForm from "~/components/auth/BaseForm.vue"
import FormRow from "~/components/auth/FormRow.vue"
import FormInput from "~/components/auth/FormInput.vue"
import AppLink from "~/components/AppLink.vue"

export default defineComponent({
  name: "Login",
  components: {
    AppLink,
    BaseForm,
    FormRow,
    FormInput,
  },
  setup() {
    const formData = reactive({
      email: "",
      password: "",
    })

    const pwordType = ref("password")

    const togglePassword = () => {
      pwordType.value = pwordType.value === "password" ? "text" : "password"
    }

    // eslint-disable-next-line
    const authenticateUser = () => console.log(formData)

    return { formData, pwordType, togglePassword, authenticateUser }
  },
})
</script>
