<!-- eslint-disable vue/no-v-html-->
<template>
  <section class="auth-wrapper">
    <div id="register" class="absolute top-0"></div>
    <div id="login" class="absolute top-0"></div>
    <div class="tab-section">
      <ul class="tabs">
        <li :class="{ active: login }" role="tab">
          <app-link
            :to="
              localePath({
                name: 'login',
                hash: '#login',
              })
            "
            exact
          >
            <h5 class="sm:text-3xl text-lg leading-[2.1rem]">
              {{ loginHeader }}
            </h5>
          </app-link>
        </li>
        <li :class="{ active: register }" role="tab">
          <app-link
            :to="
              localePath({
                name: 'login',
                hash: '#register',
              })
            "
            exact
          >
            <h5 class="sm:text-3xl text-lg leading-[2.1rem]">
              {{ registerHeader }}
            </h5>
          </app-link>
        </li>
      </ul>
      <hr />
      <div class="auth-form-container">
        <auth-login v-if="login" />
        <auth-register v-else-if="register" />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  ref,
  useRoute,
  watch,
} from "@nuxtjs/composition-api"

export default defineComponent({
  name: "AuthMain",

  props: {
    loginHeader: {
      type: String,
      default: "",
    },
    registerHeader: {
      type: String,
      default: "",
    },
    onTabSwitch: {
      type: Function as PropType<(tab: string) => {}>,
      required: true,
    },
  },
  setup({ onTabSwitch }) {
    /**
     * The what we do tab is set false by default
     */
    const register = ref(false)

    /**
     * The what we have done tab is set true by default
     */
    const login = ref(true)

    const route = useRoute()

    const toggleTab = (tab: string): void => {
      switch (tab) {
        case "login":
          login.value = true
          register.value = false
          break
        case "register":
          login.value = false
          register.value = true
          break
        default:
          break
      }
      onTabSwitch(tab)
    }

    watch(
      () => route.value.hash,
      (hash: string) => {
        if (hash === "#login") {
          toggleTab("login")
        } else {
          toggleTab("register")
        }
      }
    )

    return {
      login,
      register,
      toggleTab,
    }
  },

  mounted() {
    if (this.$route.hash === "#login") {
      this.toggleTab("login")
    }
  },
})
</script>

<style lang="scss" scoped>
@use "@/assets/css/abstracts";

.auth-form-container {
  padding-top: 4.675em;
  padding-bottom: 5.5em;
}

.auth-wrapper {
  @apply w-full relative;
}

@screen sm {
  .auth-wrapper {
    @apply w-full bg-no-repeat;

    background-image: url("~assets/img/about-teams-bg.svg");
  }
}

hr {
  margin-top: -0.75rem;
  border: 1px solid abstracts.$acc-blue;
}

.tab-section {
  max-width: abstracts.$form-width;

  @apply w-full mx-auto relative top-0 pb-10;
}

.tabs {
  @apply grid justify-center grid-cols-2  text-[#D2D2D2] sm:text-3xl text-lg leading-[2.1rem];
}

.tabs li:not(:last-child) {
  @apply mr-12;
}

.tabs li a {
  @apply py-6 text-center focus:outline-none focus:text-primary-300 transition duration-300 block;
}

.tabs li:not(.active) a {
  @apply focus:ring-0;
}

.tabs li.active a {
  @apply bg-white text-primary-300 pb-2 border-b-[3.5px] w-full border-primary-300;
}
</style>
