<template>
  <base-form :form-func="registerUser">
    <template #form-header>Sign up to find a service</template>

    <template #form-data>
      <form-row :errors="formErrors.name">
        <template #label>Full name</template>
        <template #input>
          <form-input
            aria-label="name"
            name="name"
            v-model="formData.name"
            placeholder="Enter full name"
            required
            @blur="$v.formData.name.$touch"
            @input="$v.formData.name.$touch"
          />
        </template>
      </form-row>

      <form-row :errors="formErrors.email">
        <template #label>Email</template>
        <template #input>
          <form-input
            aria-label="email"
            v-model="formData.email"
            name="email"
            input-type="email"
            placeholder="Enter email address"
            required
            @blur="$v.formData.email.$touch"
            @input="$v.formData.email.$touch"
          />
        </template>
      </form-row>

      <form-row :errors="formErrors.password">
        <template #label>Password</template>
        <template #input>
          <form-input
            aria-label="password"
            v-model="formData.password"
            name="password"
            :input-type="pwordType"
            placeholder="Create password"
            required
            @blur="$v.formData.password.$touch"
            @input="$v.formData.password.$touch"
            @toggleVisibility="togglePassword"
          />
        </template>
      </form-row>

      <form-row>
        <template #label>Referral code</template>
        <template #input>
          <form-input
            aria-label="referral"
            v-model="formData.referral"
            name="referral"
            placeholder="Enter referral code (Optional)"
          />
        </template>
      </form-row>

      <p class="c-form__text">
        By clicking ‘Create account’, you are agreeing to our
        <a href="#">Terms and Conditions</a> and
        <a href="#">Privacy Policy</a>
      </p>
    </template>

    <template #button-text :disabled="$v.formData.$errors">Sign Up</template>
  </base-form>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from "@nuxtjs/composition-api"
import { validationMixin } from "vuelidate"
import { required, email, minLength } from "vuelidate/lib/validators"
import BaseForm from "~/components/auth/BaseForm.vue"
import FormRow from "~/components/auth/FormRow.vue"
import FormInput from "~/components/auth/FormInput.vue"

export default defineComponent({
  name: "Login",
  components: {
    BaseForm,
    FormRow,
    FormInput,
  },
  mixins: [validationMixin],
  validations() {
    return {
      formData: {
        name: {
          required,
          minLength: minLength(3),
        },
        email: {
          required,
          email,
        },
        password: {
          required,
          minLength: minLength(8),
        },
      },
    }
  },
  setup() {
    const formData = reactive({
      name: "",
      email: "",
      password: "",
      referral: "",
    })

    const pwordType = ref("password")

    const togglePassword = () => {
      pwordType.value = pwordType.value === "password" ? "text" : "password"
    }

    return {
      formData,
      pwordType,
      togglePassword,
    }
  },
  computed: {
    formErrors() {
      const errors = {
        name: [] as string[],
        email: [] as string[],
        password: [] as string[],
      }

      const form = this.$v.formData

      if (form.name?.$dirty && form.name?.$invalid) {
        if (!form.name?.required) {
          errors.name.push("Name is required")
        } else if (!form.name?.minLength) {
          errors.name.push(
            `Name must have at least ${form.name.$params.minLength.min} characters`
          )
        }
      }

      if (form.email?.$dirty && form.email?.$invalid) {
        if (!form.email?.required) {
          errors.email.push("Email is required")
        } else if (!form.email?.email) {
          errors.email.push("Please enter a valid email address")
        }
      }

      if (form.password?.$dirty && form.password?.$invalid) {
        if (!form.password?.required) {
          errors.password.push("Password is required")
        } else if (!form.password?.minLength) {
          errors.password.push(
            `Password must have at least ${form.password.$params.minLength.min} characters`
          )
        }
      }

      return errors
    },
  },
  methods: {
    registerUser() {
      // eslint-disable-next-line
      console.log(this.formData)
    },
  },
})
</script>
