<template>
  <section class="c-auth-wrapper">
    <div class="c-auth-form-container">
      <div class="container">
        <AuthEnvelope class="envelope" />

        <div class="content">
          <p class="content__title">Verify your account</p>
          <p class="content__message">
            We have sent an account activation link to
            <span>salomeglin@yaboo.com</span>
          </p>
          <p class="content__footer">
            Didn't get our email?
            <a class="content__link" href="#">Send it again</a>
          </p>
        </div>

        <button class="button" @click="$router.push('/')">
          Continue to wrkman
        </button>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
import AuthEnvelope from "~/assets/icons/auth-envelope.svg?inline"

export default defineComponent({
  name: "ResetDone",
  components: {
    AuthEnvelope,
  },
})
</script>

<style lang="scss" scoped>
@use "~/assets/css/abstracts";

.container {
  display: grid;
  justify-items: center;
  font-family: lato;
  text-align: center;
}

.envelope {
  width: 13.625em;
  height: 14.935em;
}

.content {
  padding: 3em 0;
  letter-spacing: 0.015em;
  color: abstracts.$wrkman-black;

  &__title {
    font-size: 1.525rem;
    font-weight: bold;
  }

  &__message {
    margin-top: 1em;
    margin-bottom: 3.55em;

    > span {
      display: block;
      font-weight: bold;
    }
  }

  &__footer {
    font-size: 0.875rem;
  }

  &__link {
    color: abstracts.$acc-blue;
    font-weight: 600;
    border-bottom: 1px solid abstracts.$acc-blue;
  }
}

.button {
  color: #fff;
  background-color: abstracts.$pry-blue;
  padding: 0.675rem 0;
  font-family: inherit;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  width: 14.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: abstracts.$pry-hover-blue;
  }
}
</style>
