<template>
  <section class="c-auth-wrapper">
    <div class="c-auth-form-container">
      <base-form :form-func="resetPassword">
        <template #form-header>Reset Password</template>

        <template #form-data>
          <form-row>
            <template #label>New Password</template>
            <template #input>
              <form-input
                aria-label="password"
                v-model="formData.password"
                name="password"
                :input-type="inputTypes.one"
                placeholder="Enter password"
                required
                @toggleVisibility="togglePassword('one')"
              />
            </template>
          </form-row>

          <form-row>
            <template #label>Confirm Password</template>
            <template #input>
              <form-input
                aria-label="password2"
                v-model="formData.password2"
                name="password2"
                :input-type="inputTypes.two"
                placeholder="Enter password"
                required
                @toggleVisibility="togglePassword('two')"
              />
            </template>
          </form-row>
        </template>
      </base-form>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, reactive } from "@nuxtjs/composition-api"
import BaseForm from "~/components/auth/BaseForm.vue"
import FormRow from "~/components/auth/FormRow.vue"
import FormInput from "~/components/auth/FormInput.vue"

export default defineComponent({
  name: "ResetConfirm",
  components: {
    BaseForm,
    FormRow,
    FormInput,
  },
  setup() {
    const formData = reactive({
      password: "",
      password2: "",
    })

    const inputTypes = reactive({
      one: "password",
      two: "password",
    })

    const togglePassword = (value: "one" | "two") => {
      const isPasswordType = inputTypes[value] === "password"
      inputTypes[value] = isPasswordType ? "text" : "password"
    }

    // eslint-disable-next-line
    const resetPassword = () => console.log(formData)

    return { formData, inputTypes, resetPassword, togglePassword }
  },
})
</script>
