<template>
  <section class="c-auth-wrapper">
    <div class="c-auth-form-container">
      <base-form :form-func="requestReset">
        <template #form-header>Forgot Password?</template>

        <template #form-sub-text>
          <p>
            Not a problem! It happens. Please enter the email address associated
            with your account.
          </p>
        </template>

        <template #form-data>
          <form-row>
            <template #label>Email</template>
            <template #input>
              <form-input
                aria-label="email"
                v-model="formData.email"
                name="email"
                input-type="email"
                placeholder="Enter email address"
                required
              />
            </template>
          </form-row>
        </template>
      </base-form>
    </div>
  </section>
</template>

<script lang="ts">
// eslint-disable
import { defineComponent, reactive } from "@nuxtjs/composition-api"
import BaseForm from "~/components/auth/BaseForm.vue"
import FormRow from "~/components/auth/FormRow.vue"
import FormInput from "~/components/auth/FormInput.vue"

export default defineComponent({
  name: "Reset",
  components: {
    BaseForm,
    FormRow,
    FormInput,
  },
  setup() {
    const formData = reactive({
      email: "",
    })

    // eslint-disable-next-line
    const requestReset = () => console.log('okay')

    return { formData, requestReset }
  },
})
</script>
