<template>
  <section>
    <template>
      <profile-hero />
      <profile-card />
    </template>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Profile",
})
</script>
