<template>
  <section>
    <div class="hero-section">
      <div v-if="serviceImage">
        <img
          class="w-full lg:h-full h-[50vh] object-cover"
          :src="serviceImage.url"
          :alt="serviceImage.name"
        />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IAsset } from "~/types/asset"

export default defineComponent({
  name: "Hero",
  props: {
    serviceImage: {
      type: Object as PropType<IAsset>,
      default: null,
    },
  },
})
</script>

<style scoped>
.hero-section {
  @apply max-h-full  relative pt-10 bg-[#F3F8F9];
}
</style>
