<!-- eslint-disable vue/no-v-html-->
<template>
  <section>
    <div class="content">
      <div class="card service-wrapper">
        <div class="w-full">
          <h2
            class="text-primary-300 font-bold leading-[3.8125rem] text-[3.125rem] text-left font-serif"
          >
            {{ introTitle }}
          </h2>
          <form @submit.stop.prevent="onSearch">
            <div class="mt-8 flex w-full justify-center relative">
              <span class="icon-class">
                <lens class="w-7" />
              </span>
              <input
                id="search-mobile"
                v-model.trim="query"
                class="text-input"
                placeholder="Search services"
                name="search"
                :class="{ loading }"
                :disabled="loading"
                aria-label="search"
              />
              <button
                type="submit"
                :disabled="loading"
                class="btn btn-search z-10 -left-10"
              >
                Search
              </button>
            </div>
          </form>
        </div>
        <div id="services" class="service-container">
          <div
            v-for="(service, index) in searchList"
            :key="index"
            class="btn card mini-card"
            :service="service"
            @click.prevent="getLocation(service.slug)"
          >
            <div class="flex justify-between items-center px-4 align-middle">
              <span class="flex justify-center space-x-4">
                <service-icon />
                <span class="text-base">{{ service.name }}</span>
              </span>
              <span class="text-lg">{{ service.artisans }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  PropType,
  ref,
} from "@nuxtjs/composition-api"
import Lens from "~/assets/icons/lens.svg?inline"
// import MiniCard from "~/components/services/MiniCard.vue"
import { IServicesContent } from "~/types/content"
import { IQuery } from "~/types/page"
import ServiceIcon from "~/assets/icons/service-user-icon.svg?inline"

export default defineComponent({
  name: "Main",
  components: { Lens, ServiceIcon },
  props: {
    introTitle: {
      type: String,
      default: "",
    },
    services: {
      type: Array as PropType<IServicesContent[]>,
      default: () => null,
    },
  },
  setup({ services }, { root }) {
    const query = ref("")
    const loading = ref(false)
    const currentLocation = ref<number[] | undefined>()
    const onSearch = async () => {
      loading.value = true

      await new Promise((resolve) => {
        setTimeout(resolve, 1000)
      })
      const searchQuery: IQuery = {
        q: "",
      }
      if (query.value) {
        searchQuery.q = query.value
      }
      root.$router.push(
        {
          name: `${root.$route.name}`,
          query: searchQuery,
        },
        () => {
          loading.value = false
        },
        () => {
          loading.value = false
        }
      )
    }

    const searchList = computed((): IServicesContent[] => {
      const searchableList = services
      const search = query.value.toLowerCase()
      return searchableList.filter((item) => {
        return item.name.toLowerCase().includes(search)
      })
    })

    const getLocation = async (slug: string) => {
      await root.$getCurrentLocation().then((position) => {
        currentLocation.value = [
          position.coords.longitude,
          position.coords.latitude,
        ]
      })
      if (currentLocation.value !== undefined) {
        await root.$store.dispatch("auth/updateLocation", currentLocation.value)
        window.location.href = `/services/${slug}`
      }
    }
    onMounted(() => {
      if (root.$route.query.q && typeof root.$route.query.q === "string") {
        query.value = root.$route.query.q
      }
    })

    return {
      searchList,
      loading,
      query,
      onSearch,
      getLocation,
    }
  },
})
</script>

<style scoped>
section {
  @apply pt-10 pb-40 relative bg-[#F3F8F9];
}

section::before {
  @apply bg-no-repeat;

  content: "";
  position: absolute;
  width: 100%;
  z-index: 0;
  height: 100%;
  background-image: url("~assets/img/service-right-bg.svg"),
    url("~assets/img/service-bottom-bg.svg");
  background-position: top 0 right -15%, bottom -40% right -30%;
  background-size: 35%, 50%;
}

.service-wrapper {
  @apply relative mx-auto;
  @apply pt-10 pb-10 sm:px-10 px-5 xl:max-w-7xl w-full;
  @apply xl:mt-[-24rem] mt-[-16.5rem];
}

.service-container {
  @apply grid  sm:grid-cols-2 grid-cols-1 gap-4 pt-14;
}
.text-input {
  @apply border border-primary-300 focus:outline-none rounded-2xl sm:rounded-lg;
  @apply focus:shadow-sm w-full sm:py-2 py-1 pl-16 h-14 text-black;
  @apply relative;
  @apply focus-within:outline-none focus:outline-none bg-white transition;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
input::placeholder {
  @apply absolute top-0 left-0 pl-20 px-6 py-4 h-full pointer-events-none transform;
  @apply origin-left transition-all duration-100 ease-in-out;
  @apply text-[#9C9C9C] text-base;
}

.icon-class {
  @apply pointer-events-none absolute self-center z-10 top-1/2 transform -translate-y-1/2 left-3 rounded-lg px-1 py-1;
}

.mini-card {
  @apply bg-[#F3F8F9] rounded-[0.625rem] py-4 cursor-pointer;
}
span {
  @apply font-semibold leading-[1.375rem]  text-primary-200;
}
</style>
