<template>
  <app-link
    :to="
      localePath({
        name: 'services-id',
        params: { id: service.slug },
      })
    "
    class="btn card mini-card"
  >
    <div class="flex justify-between items-center px-4 align-middle">
      <span class="flex justify-center space-x-4">
        <service-icon />
        <span class="text-base">{{ service.name }}</span>
      </span>
      <span class="text-lg">{{ service.artisans }}</span>
    </div>
  </app-link>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import ServiceIcon from "~/assets/icons/service-user-icon.svg?inline"
import { IServicesContent } from "~/types/content"
import AppLink from "~/components/AppLink.vue"
export default defineComponent({
  name: "MiniCard",
  components: { AppLink, ServiceIcon },
  props: {
    service: {
      type: Object as PropType<IServicesContent>,
      default: null,
    },
  },
})
</script>

<style scoped>
.mini-card {
  @apply bg-[#F3F8F9] rounded-[0.625rem] py-4 cursor-pointer;
}
span {
  @apply font-semibold leading-[1.375rem]  text-primary-200;
}
</style>
