<template>
  <div
    class="Stars"
    :style="`--rating: ${rating}`"
    aria-label="Rating of this product is 2.3 out of 5."
  ></div>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"
export default defineComponent({
  name: "Ratings",

  props: {
    rating: {
      type: Number,
      default: 1,
    },
  },
})
</script>

<style lang="scss">
:root {
  --star-size: 13px;
  --star-color: #d0d0d0;
  --star-background: #28bee0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times, serif; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
</style>
