<template>
  <nav
    id="app-nav"
    v-click-outside="() => setMobileMenu(false)"
    :class="{
      'bg-white': open && !hasDarkHero,
      'dark-hero': hasDarkHero,
      stuck: isScrolled || !hasHero,
      open: open || !hasDarkHero,
    }"
  >
    <div
      :class="{
        'nav-bg': !hasHero && !hasDarkHero,
        'dark-hero': hasDarkHero,
      }"
      class="max-w-screen-2xl mx-auto px-6 xl:px-14 xl:py-2 mt-4 sm:mt-0"
    >
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 right-0 flex xl:items-start sm:hidden">
          <!-- Mobile menu button-->
          <button
            :aria-expanded="open ? 'true' : 'false'"
            aria-controls="mobile-menu"
            class="mobile-toggle"
            type="button"
            @click="toggleMobileMenu"
          >
            <span class="sr-only">Open main menu</span>
            <!-- Icon when menu is closed. -->
            <menu-open-icon v-if="!open" />
            <menu-close-icon v-else />
          </button>
        </div>
        <main-menu
          :has-hero="hasHero"
          :is-scrolled="isScrolled"
          :routes="routes"
        />
      </div>
    </div>

    <mobile-menu
      :has-hero="hasHero"
      :is-scrolled="isScrolled"
      :open="open"
      :routes="routes"
    />
  </nav>
</template>
<script lang="ts">
import { defineComponent, PropType, ref } from "@nuxtjs/composition-api"
import { PageRoutes } from "~/types/page"
import MenuOpenIcon from "~/assets/icons/menu.svg?inline"
import MenuCloseIcon from "~/assets/icons/menu-close.svg?inline"
import MobileMenu from "~/components/nav/MobileMenu.vue"
import MainMenu from "~/components/nav/MainMenu.vue"

export default defineComponent({
  name: "AppNav",
  components: {
    MainMenu,
    MobileMenu,
    MenuOpenIcon,
    MenuCloseIcon,
  },
  props: {
    isScrolled: { type: Boolean, default: false },
    hasHero: { type: Boolean, default: false },
    hasDarkHero: { type: Boolean, default: false },
    routes: {
      type: Array as PropType<PageRoutes>,
      required: true,
      default: () => [],
    },
  },
  setup() {
    /**
     * Holds the state of the mobile menu, whether opened or closed
     */
    const open = ref(false)

    /**
     * Sets the menu state to the given value
     * @param {boolean} state
     */
    const setMobileMenu = (state: boolean) => (open.value = state)

    /**
     * Toggles the mobile menu open and close
     * @returns {boolean}
     */
    const toggleMobileMenu = () => setMobileMenu(!open.value)

    return {
      open,
      setMobileMenu,
      toggleMobileMenu,
    }
  },
  watch: {
    "$route.path"() {
      if (this.open) {
        this.setMobileMenu(false)
      }
    },
  },
})
</script>

<style>
.mobile-toggle {
  @apply inline-flex items-center justify-center p-2 rounded-md text-white;
  @apply focus:outline-none focus:ring-0;
}

.stuck .mobile-toggle {
  @apply text-gray-500 focus:bg-transparent;
}

.open .mobile-toggle {
  @apply text-black;
}
#app-nav .nav-bg {
  @apply relative z-10;

  background: url("~assets/img/nav-bg.svg") no-repeat right;
  background-size: auto;
}
.dark-hero {
  @apply relative z-0;

  background: #f3f8f9 url("~assets/img/nav-bg.svg") no-repeat right;
  background-size: contain;
}
</style>
