<!-- eslint-disable vue/no-v-html-->
<template>
  <app-link
    :class="{
      'nuxt-link-active': activeParent(getRouteBaseName()),
    }"
    :to="localePath(route.to)"
    aria-current="page"
    class="link font-normal"
    exact
  >
    <template v-if="$slots.default">
      <slot />
    </template>
    <template v-else>
      <span class="flex-shrink-0 flex items-center max-h-5">
        {{ route.name }}
        <template v-if="route.icon">
          <span class="ml-2 w-6 flex" v-html="route.icon" />
        </template>
      </span>
    </template>
  </app-link>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
// eslint-disable-next-line import/named
import { Location } from "vue-router"
import { IPageRoute } from "~/types/page"

export default defineComponent({
  name: "NavItem",
  props: {
    route: {
      type: Object as PropType<IPageRoute>,
      required: true,
    },
  },
  setup(props) {
    const activeParent = (name: string) => {
      return props.route.children?.some((r) => (r.to as Location).name === name)
    }

    return { activeParent }
  },
})
</script>
