<!-- eslint-disable vue/no-v-html-->
<template>
  <div class="main-menu">
    <template v-if="data">
      <app-link
        :to="localePath({ name: 'index' })"
        class="flex-shrink-0 flex items-center brand"
        exact
      >
        <img
          alt="Wrkman Logo"
          class="logo"
          data-not-lazy
          src="~/assets/img/logo.png"
        />
      </app-link>
      <div class="hidden sm:block ml-auto">
        <div class="flex space-x-10 mr-12">
          <template v-for="(route, i) in routes">
            <nav-dropdown
              v-if="
                route.children &&
                route.children.filter((child) => !child.hidden).length
              "
              :key="i"
              :route="route"
              class="text-white"
            />
            <nav-item v-else :key="i" :route="route" class="text-white" />
          </template>
        </div>
      </div>
      <div class="hidden sm:block">
        <div class="flex items-start sm:space-x-14">
          <button
            v-click-outside="
              () => {
                hideMenu()
                $emit('hide-menu')
              }
            "
            class="btn btn-primary pt-2 pb-2 px-6"
            :aria-expanded="open ? 'true' : 'false'"
            :class="{
              'dropdown-open': open,
            }"
            @click.self.prevent="
              setEnter(false)
              toggleOpen()
            "
            @keyup.esc="hideMenu"
            @keyup.enter="onEnter"
          >
            <span
              class="flex-shrink-0 max-h-5 flex items-center"
              @click.self.prevent="
                setEnter(false)
                toggleOpen()
              "
            >
              {{ data.loginLinkText }}
              <caret-right-icon
                :class="{ '-rotate-180': open, '': !open }"
                class="
                  ml-3
                  w-2
                  flex
                  h-auto
                  transition-transform
                  duration-200
                  transform
                  text-current
                "
              />
            </span>
            <nav-sub-menu
              :enter="enter"
              :items="data.authLinks"
              :open="open"
              @hide-menu="
                () => {
                  hideMenu()
                  $emit('hide-menu')
                }
              "
            />
          </button>

          <a href="#" class="link-provide-help">
            {{ data.provideHelpLinkText }}
          </a>
        </div>
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType, ref } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"
import NavDropdown from "~/components/nav/NavDropdown.vue"
import NavItem from "~/components/nav/Item.vue"
import { PageRoutes } from "~/types/page"
import CaretRightIcon from "~/assets/icons/caret-right.svg?inline"
import NavSubMenu from "~/components/nav/NavSubMenu.vue"

export default defineComponent({
  name: "MainMenu",
  components: { NavSubMenu, NavDropdown, NavItem, CaretRightIcon },
  props: {
    isScrolled: { type: Boolean, default: false },
    hasHero: { type: Boolean, default: false },
    routes: {
      type: Array as PropType<PageRoutes>,
      required: true,
      default: () => [],
    },
  },
  setup() {
    /**
     * Holds the state of the mobile menu, whether opened or closed
     */
    const open = ref(false)

    /**
     * Holds the value whether enter is pressed or not
     */
    const enter = ref(false)

    /**
     * Sets the menu state to the given value
     * @param {boolean} state
     */
    const setOpen = (state: boolean) => (open.value = state)

    /**
     * Toggles the mobile menu open and close
     * @returns {boolean}
     */
    const toggleOpen = () => setOpen(!open.value)

    /**
     * Sets the enter state to the given value
     * @param {boolean} state
     */
    const setEnter = (state: boolean) => (enter.value = state)

    /**
     * Toggles enter button click state
     */
    const onEnter = () => setEnter(!enter.value)

    /**
     * Hides the menu
     */
    const hideMenu = () => {
      setOpen(false)
      setEnter(false)
    }

    return {
      open,
      enter,
      setOpen,
      toggleOpen,
      setEnter,
      onEnter,
      hideMenu,
    }
  },
  computed: {
    ...mapGetters("layout", ["data"]),
  },
})
</script>

<style scoped>
.main-menu {
  @apply flex flex-1 items-center justify-start;
}
</style>
