<template>
  <div id="mobile-menu" :class="{ 'h-0 hidden': !open }">
    <template v-if="data">
      <div class="px-6 pt-4 pb-3 space-y-4">
        <template v-for="(route, i) in routes">
          <nav-dropdown
            v-if="
              route.children &&
              route.children.filter((child) => !child.hidden).length
            "
            :key="i"
            :route="route"
            class="block"
          />
          <nav-item v-else :key="i" :route="route" class="block" />
        </template>

        <div class="flex flex-col items-start justify-start px-4 pt-5 pb-20">
          <button
            v-click-outside="
              () => {
                hideMenu()
                $emit('hide-menu')
              }
            "
            class="pt-2 text-primary-200"
            :aria-expanded="openDropdown ? true : false"
            :class="{
              'dropdown-open': openDropdown,
            }"
            @keyup.esc="hideMenu"
            @keyup.enter="onEnter"
          >
            <span
              class="flex max-h-5 flex items-center justify-center"
              @click="
                setEnter(false)
                toggleOpen()
              "
            >
              {{ data.loginLinkText }}
              <caret-right-icon
                :class="{ '-rotate-180': openDropdown, '': !openDropdown }"
                class="
                  w-4
                  flex
                  h-auto
                  transition-transform
                  duration-200
                  transform
                  arrow-down
                  text-current
                "
              />
            </span>
          </button>
          <span class="w-32">
            <nav-sub-menu
              :enter="enter"
              :items="data.authLinks"
              :open="openDropdown"
              @hide-menu="
                () => {
                  hideMenu()
                  $emit('hide-menu')
                }
              "
            />
          </span>
          <a href="#" class="link-provide-help mt-4">
            {{ data.provideHelpLinkText }}
          </a>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from "@nuxtjs/composition-api"
import { mapGetters } from "vuex"
import NavDropdown from "~/components/nav/NavDropdown.vue"
import NavItem from "~/components/nav/Item.vue"
import { PageRoutes } from "~/types/page"
import CaretRightIcon from "~/assets/icons/caret-right.svg?inline"
import NavSubMenu from "~/components/nav/NavSubMenu.vue"

export default defineComponent({
  name: "MobileMenu",
  components: { NavSubMenu, NavDropdown, NavItem, CaretRightIcon },

  props: {
    isScrolled: { type: Boolean, default: false },
    hasHero: { type: Boolean, default: false },
    routes: {
      type: Array as PropType<PageRoutes>,
      required: true,
      default: () => [],
    },
    open: { type: Boolean, default: false },
  },
  setup() {
    /**
     * Holds the state of the mobile menu, whether opened or closed
     */
    const openDropdown = ref(false)

    /**
     * Holds the value whether enter is pressed or not
     */
    const enter = ref(false)

    /**
     * Sets the menu state to the given value
     * @param {boolean} state
     */
    const setOpen = (state: boolean) => (openDropdown.value = state)

    /**
     * Toggles the mobile menu open and close
     * @returns {boolean}
     */
    const toggleOpen = () => setOpen(!openDropdown.value)

    /**
     * Sets the enter state to the given value
     * @param {boolean} state
     */
    const setEnter = (state: boolean) => (enter.value = state)

    /**
     * Toggles enter button click state
     */
    const onEnter = () => setEnter(!enter.value)

    /**
     * Hides the menu
     */
    const hideMenu = () => {
      setOpen(false)
      setEnter(false)
    }

    return {
      openDropdown,
      enter,
      setOpen,
      toggleOpen,
      setEnter,
      onEnter,
      hideMenu,
    }
  },
  computed: {
    ...mapGetters("layout", ["data"]),
  },
})
</script>
<style scoped>
.arrow-down path {
  fill: #568b91;
}
</style>
