<template>
  <a
    v-click-outside="
      () => {
        hideMenu()
        $emit('hide-menu')
      }
    "
    :aria-expanded="open ? 'true' : 'false'"
    :class="{
      'nuxt-link-active': activeParent(getRouteBaseName()),
      'dropdown-open': open,
    }"
    :href="localePath(route.to)"
    aria-controls="dropdown-menu"
    aria-haspopup="menu"
    class="link"
    @click.prevent="
      setEnter(false)
      toggleOpen()
    "
    @keyup.esc="hideMenu"
    @keyup.enter="onEnter"
  >
    {{ route.name }}

    <caret-right-icon
      :class="{ '-rotate-90': open, 'rotate-90': !open }"
      class="
        inline
        w-2
        h-auto
        mt-1
        ml-1
        md:-mt-1
        transition-transform
        duration-200
        transform
        text-current
      "
    />

    <nav-sub-menu
      :enter="enter"
      :items="route.children.filter((child) => !child.hidden)"
      :open="open"
      @hide-menu="
        () => {
          hideMenu()
          $emit('hide-menu')
        }
      "
    />
  </a>
</template>
<script lang="ts">
import { defineComponent, PropType, ref } from "@nuxtjs/composition-api"
// eslint-disable-next-line import/named
import { Location } from "vue-router"
import CaretRightIcon from "~/assets/icons/caret-right.svg?inline"
import NavSubMenu from "~/components/nav/NavSubMenu.vue"
import { IPageRoute } from "~/types/page"

export default defineComponent({
  name: "NavDropdown",
  components: { CaretRightIcon, NavSubMenu },
  props: {
    route: {
      type: Object as PropType<IPageRoute>,
      required: true,
    },
  },
  setup(props) {
    /**
     * Holds the state of the mobile menu, whether opened or closed
     */
    const open = ref(false)

    /**
     * Holds the value whether enter is pressed or not
     */
    const enter = ref(false)

    /**
     * Sets the menu state to the given value
     * @param {boolean} state
     */
    const setOpen = (state: boolean) => (open.value = state)

    /**
     * Toggles the mobile menu open and close
     * @returns {boolean}
     */
    const toggleOpen = () => setOpen(!open.value)

    /**
     * Sets the enter state to the given value
     * @param {boolean} state
     */
    const setEnter = (state: boolean) => (enter.value = state)

    /**
     * Toggles enter button click state
     */
    const onEnter = () => setEnter(!enter.value)

    /**
     * Hides the menu
     */
    const hideMenu = () => {
      setOpen(false)
      setEnter(false)
    }

    const activeParent = (name: string) => {
      return props.route.children?.some((r) => (r.to as Location).name === name)
    }

    return {
      open,
      enter,
      setOpen,
      toggleOpen,
      setEnter,
      onEnter,
      hideMenu,
      activeParent,
    }
  },
})
</script>
