<!-- eslint-disable vue/no-v-html-->
<template>
  <transition
    enter-active-class="transition ease-in duration-100"
    enter-from-class="transform opacity-0 scale-95"
    enter-to-class="transform opacity-100 scale-100"
    leave-active-class="transition ease-in duration-100"
    leave-from-class="transform opacity-100 scale-100"
    leave-to-class="transform opacity-0 scale-95"
  >
    <div v-if="open" class="dropdown-container">
      <div class="mt-3 mb-3">
        <template v-for="(route, i) in items">
          <app-link
            v-if="i === 0"
            :key="i"
            ref="firstRef"
            :to="localePath(route.to)"
            class="nav-link"
            exact
          >
            <span class="flex-shrink-0 flex items-center max-h-5">
              <template v-if="route.icon">
                <span class="w-6 flex" v-html="route.icon" />
              </template>
              {{ route.name }}
            </span>
          </app-link>
          <app-link v-else :key="i" :to="localePath(route.to)" class="nav-link">
            <span class="flex-shrink-0 flex items-center max-h-5">
              <template v-if="route.icon">
                <span class="w-6 flex" v-html="route.icon" />
              </template>
              {{ route.name }}
            </span>
          </app-link>
        </template>
      </div>
    </div>
  </transition>
</template>
<script lang="ts">
import {
  defineComponent,
  PropType,
  ref,
  toRef,
  watch,
} from "@nuxtjs/composition-api"

import { PageRoutes } from "~/types/page"

export default defineComponent({
  name: "NavSubMenu",
  props: {
    open: { type: Boolean, default: false },
    enter: { type: Boolean, default: false },
    items: { type: Array as PropType<PageRoutes>, default: () => [] },
  },
  setup(props, { parent }) {
    const open = toRef(props, "open")
    const enter = toRef(props, "enter")
    const firstRef = ref<any>(null)

    watch(enter, (val) => {
      if (val) {
        if (open.value) {
          const link = firstRef.value[0].$el
          link.focus()
        }
      } else if (!open.value) {
        const dropdown: any = parent?.$el
        dropdown?.focus()
      }
    })

    return { firstRef }
  },
})
</script>

<style scoped>
.dropdown-container {
  @apply origin-top-left sm:absolute left-0 sm:mt-5  min-w-full max-w-2xl rounded-[0.625rem];
  @apply lg:rounded-2xl shadow-lg bg-primary-400 ring-1 ring-black ring-opacity-5 focus:outline-none;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  @apply block px-6 py-2 text-base text-white font-bold hover:text-white;
  @apply focus:text-white hover:bg-[#21879E] focus:bg-[#21879E] focus:outline-none;
}

.nav-link.nuxt-link-active {
  @apply hover:text-white focus:text-white bg-[#21879E] outline-none;
}
</style>
