<template>
  <section>
    <div class="hero-section">
      <div class="content section-wrapper">
        <div class="hero-content">
          <h1 class="hero-title text-primary-200 text-[3.375rem]">About</h1>
          <h1 class="hero-title text-primary-500 text-[4.375rem]">wrkman</h1>
          <p class="hero-description">
            {{ description }}
          </p>
        </div>
        <div v-if="introImage" class="relative -right-20">
          <img :alt="introImage.name" :src="introImage.url" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { IAsset } from "~/types/asset"

export default defineComponent({
  name: "Hero",
  props: {
    introImage: {
      type: Object as PropType<IAsset>,
      default: null,
    },

    description: {
      type: String,
      default: "",
    },
  },
})
</script>

<style scoped>
section::before {
  @apply bg-no-repeat absolute w-full h-full;

  content: "";
  background-image: url("~assets/img/about-hero-mobile-bg.svg");
  background-position: top right;
  top: 40%;
  right: 0;
}
@screen sm {
  section::before {
    @apply bg-no-repeat  absolute w-full;

    content: "";
    background-image: url("~assets/img/home-bg-left.svg"),
      url("~assets/img/home-bg-right.svg");
    background-position: top left, top right;
    height: 150%;
    top: 0;
    right: 0;
  }
}

.section-wrapper {
  @apply max-w-screen-xl;
  @apply flex sm:flex-row sm:pt-10 pt-20 flex-col-reverse relative justify-between sm:items-center;
}
.hero-section {
  @apply pt-10 pb-20;
}

.hero-content {
  @apply max-w-screen-2xl flex flex-col sm:space-y-0 space-y-6 sm:mt-0 mt-10 items-start sm:justify-start text-white;
  @apply sm:max-w-xl w-full sm:text-left;
}

.hero-title {
  @apply font-bold sm:max-w-lg w-full sm:leading-[3.8125rem] leading-[2.3125rem];
}

.hero-description {
  @apply pt-5 sm:pt-10 sm:max-w-xs text-[#071854] text-xl leading-6 font-bold;
}
</style>
