<!-- eslint-disable vue/no-v-html-->
<template>
  <section>
    <div class="content">
      <h1 class="intro-title">{{ introTitle }}</h1>
      <div class="markdown" v-html="$md.render(content || '')" />
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "@nuxtjs/composition-api"

export default defineComponent({
  name: "Offer",
  props: {
    introTitle: {
      type: String,
      default: "",
    },
    content: {
      type: String,
      default: "",
    },
  },
})
</script>

<style scoped>
section {
  @apply pt-20 pb-32 relative;
}

section::before {
  @apply w-full absolute bg-no-repeat z-[-1];

  content: "";
  background-image: url("~assets/img/about-offer-mobile.svg");
  background-position: top right;
  height: 150%;
  top: 50%;
  right: -10%;
}

@screen sm {
  section::before {
    @apply w-full absolute h-full bg-no-repeat z-10  top-0 left-0;

    content: "";
    background-image: url("~assets/img/about-offer-bg.svg"),
      url("~assets/img/offer-right-bg.svg");
    background-position: top left, top right;
  }
}
.intro-title {
  @apply text-[3.2rem] leading-[3.8125rem] text-primary-400;
}
</style>
