<!-- eslint-disable vue/no-v-html-->
<template>
  <section>
    <div class="content">
      <div class="card about-wrapper">
        <div
          id="about-title"
          class="about-title markdown"
          v-html="$md.render(introTitle || '')"
        />
        <div class="sm:hidden block">
          <div class="team-container-mobile">
            <team-card
              v-for="team in teams"
              :key="team.id"
              :member="team"
              class="team-child"
            />
          </div>
        </div>
      </div>
      <div class="mt-[-22rem] sm:block hidden">
        <div class="team-container">
          <team-card
            v-for="team in teams"
            :key="team.id"
            :member="team"
            class="team-child"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import TeamCard from "~/components/about/TeamCard.vue"
import { ITeam } from "~/types/content"

export default defineComponent({
  name: "Team",
  components: { TeamCard },
  props: {
    introTitle: {
      type: String,
      default: "",
    },
    teams: {
      type: Array as PropType<ITeam[]>,
      default: () => [],
    },
  },
})
</script>

<style scoped>
section {
  @apply lg:-mb-60 pt-10 lg:pb-0 pb-20 relative z-[-1] bg-no-repeat;

  background-image: url("~assets/img/about-teams-bg-right.svg");
  background-position: bottom right;
}

@screen sm {
  section::before {
    @apply absolute z-[-1] w-full h-full bg-no-repeat;

    content: "";
    height: 100%;
    background-image: url("~assets/img/about-teams-bg.svg");
    background-size: cover;
  }
}

.about-wrapper {
  @apply pt-10 w-full sm:min-h-[33rem] min-h-full relative p-5 bg-white;
}

@screen sm {
  .about-wrapper {
    @apply z-[-1] w-full h-full bg-no-repeat;

    background-image: url("~assets/img/about-teams-bg.svg");
  }
}

.about-title {
  @apply text-primary-500 font-bold sm:leading-[3.8125rem] leading-[1.5rem];
  @apply sm:text-[3.125rem] text-[1.4rem] xl:px-32 px-10;
  @apply mb-10 sm:text-left text-center w-full font-serif;
}

.team-container {
  @apply grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 grid-rows-2 gap-10 xl:px-20 px-5;
}
@screen lg {
  .team-container .team-child:nth-child(2) {
    @apply relative top-32;
  }
  .team-container .team-child:nth-child(4) {
    @apply relative top-32;
  }
}

.team-container-mobile {
  @apply grid grid-cols-3 grid-rows-3 gap-y-8 p-1;
}
.team-container-mobile .team-child:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.team-container-mobile .team-child:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}
.team-container-mobile .team-child:nth-child(3) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}
.team-container-mobile .team-child:nth-child(4) {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}
</style>
