<template>
  <div class="card">
    <div class="member-body">
      <h4 class="text-[#071854] p-5 font-bold leading-8">
        {{ member.name }}
      </h4>
      <div v-if="member.avatar" class="w-full">
        <img
          :src="member.avatar.url"
          class="w-full h-full object-cover"
          :alt="member.avatar.name"
        />
      </div>
      <h4 class="text-black p-5 font-bold leading-6 text-primary-100">
        {{ member.role }}
      </h4>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "@nuxtjs/composition-api"
import { ITeam } from "~/types/content"

export default defineComponent({
  name: "TeamCard",
  props: {
    member: {
      type: Object as PropType<ITeam>,
      default: null,
    },
  },
})
</script>

<style scoped>
.card {
  @apply relative z-10;

  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.member-body {
  @apply pt-5 cursor-pointer;
}
</style>
